<div>
  <header>
    <h1>Switch Context</h1>
  </header>

  <div class="content">
    <ul>
      <li class="pistachio">
        <a href="http://secure.alphasights.com/projects">
          <i></i>
        </a>
        <span>Pistachio</span>
      </li>
      <li class="phoenix">
        <a href="http://phoenix.alphasights.com">
          <i></i>
        </a>
        <span>Phoenix</span>
      </li>
      <li class="reporting">
        <a href="https://secure.alphasights.com/reports/monthly_summary">
          <i></i>
        </a>
        <span>Reporting</span>
      </li>
    </ul>
  </div>
</div>
