<header>
  <div class="time-zone">TZ</div>

  <div class="days">
    <ul>
      {{#each day in days}}
        <li>{{moment day.value "ddd D/M"}}</li>
      {{/each}}
    </ul>
  </div>
</header>

<div>
  <ul class="times">
    {{#each time in headerTimes}}
      <li>{{moment time.value "h a"}}</li>
    {{/each}}
  </ul>

  <ul class="days">
    {{#each day in days}}
      <li>
        <ul class="dates">
          {{#each date in day.dates}}
            <li {{action "setValue" date}}></li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
