<header>
  <div class="time-zone">TZ</div>

  <div class="days">
    <ul>
      {{#each day in days}}
        <li>{{moment day.date "ddd D/M"}}</li>
      {{/each}}
    </ul>
  </div>
</header>

<div>
  <ul class="time-slots">
    {{#each timeSlot in headerTimeSlots}}
      <li>{{moment timeSlot.date "h a"}}</li>
    {{/each}}
  </ul>

  <ul class="days">
    {{#each day in days}}
      <li>
        <ul class="times">
          {{#each time in day.times}}
            <li {{action "setValue" time}}></li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
