{{#unless showTooltip}}
  <span>Checklist {{status}}</span>
{{/unless}}

{{#tool-tipster
  title=title
  position="top"
  tagName="span"}}
  {{#if isComplete}}
    <i></i>
  {{else}}
    <span class="count">
      {{incompleteItems.length}}
    </span>
  {{/if}}
{{/tool-tipster}}
