<div class="header">
  <span {{action "toggleDisplay"}}>
    <i class="{{if displayList 'expanded'}}"></i>{{title}}
  </span>
</div>

{{#liquid-if displayList use="crossFade"}}
  {{yield}}
{{/liquid-if}}
