<label {{bindAttr for=name}}>{{label}}</label>

<div>
  {{input type="text" name=name placeholder=placeholder value=value}}
</div>

{{#if showErrors}}
  {{#if error}}
    <div class="error">
      {{error}}
    </div>
  {{/if}}
{{/if}}