<div {{bind-attr class=":progress hasDeliveryTarget::no-target"}}>
  {{as-progress-bar ratio=progress}}

  <div class="details">
    <div class="delivered">
      <span class="count">
        {{deliveredCount}}
      </span>

      <span class="label">delivered</span>
    </div>

    <div class="target">
      <span class="count">
        {{targetCount}}
      </span>

      <span class="label">target</span>
    </div>
  </div>
</div>
