<div class="details">
  <span>{{project.codename}}</span>
  <small>{{project.clientCode}}</small>
</div>

<div class="members">
  {{as-avatar person=project.lead class="lead"}}

  {{#each member in nonLeadMembers}}
    {{as-avatar person=member}}
  {{/each}}
</div>
