{{#rl-dropdown-container class="dropdown"}}
  {{#rl-dropdown-toggle tagName="div" classNameBindings="project.status"}}<button></button>{{/rl-dropdown-toggle}}

  {{#rl-dropdown tagName="ul" closeOnChildClick="button"}}
    <li class="low" {{action "setPriority" "low"}}>
      <button></button>
    </li>

    <li class="medium" {{action "setPriority" "medium"}}>
      <button></button>
    </li>

    <li class="high" {{action "setPriority" "high"}}>
      <button></button>
    </li>
  {{/rl-dropdown}}
{{/rl-dropdown-container}}
