{{as-progress-bar ratio=progress}}

<div class="details">
  <div class="delivered">
    <span class="count">
      {{deliveredCount}}
    </span>

    <span class="label">delivered</span>
  </div>

  <div {{bind-attr class=":target hasDeliveryTarget::no-target"}}>
    <span class="count">
      {{targetCount}}
    </span>

    <span class="label">target</span>
  </div>
</div>
