<div>
  <h1><i></i></h1>

  <p><strong>Your {{pageName}} will show up here soon</strong></p>
  <p>While we're working to build this section, you can still access {{pageName}} on the old system.</p>

  <a class="redirect" {{bind-attr href=url}} target="_blank">View {{pageName}} in the old system</a>
</div>
