<div>
  <h1><i></i></h1>

  <h2>Your {{pageName}} will show up here soon</h2>
  <p>While we're working to build this section, you can still access {{pageName}} on the old system.</p>

  <a class="redirect" href={{url}} target="_blank">View {{pageName}} in the old system</a>
</div>
