<header>
  <div class="priority-select-label">
    <span>Filter by:</span>
  </div>

  <div class="priority-select">
    <ul>
      {{#link-to (query-params filterPriority="high") tagName="li" class="high"}}
        <button></button>
      {{/link-to}}

      {{#link-to (query-params filterPriority="medium") tagName="li" class="medium"}}
        <button></button>
      {{/link-to}}

      {{#link-to (query-params filterPriority="low") tagName="li" class="low"}}
        <button></button>
      {{/link-to}}
    </ul>
  </div>
</header>

{{#if arrangedContent}}
  {{#sortable-group tagName="ul" onChange="reorderProjects" as |group|}}
    {{#each arrangedContent as |project|}}
      {{#sortable-item tagName="li" model=project group=group handle=".handle"}}
        {{#unless readOnly}}
          <div class="handle"></div>
        {{/unless}}

        <div class="content">
          {{as-project-list-item project=project readOnly=readOnly showProject="showProject"}}
        </div>
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
{{else}}
  <div class="empty-message">There are no {{filterPriority}} priority projects.</div>
{{/if}}
