<label {{bindAttr for=name}}>{{label}}</label>

<div class="content">
  {{view "select"
    name=name
    content=content
    optionValuePath="content.id"
    optionLabelPath="content.name"
    prompt=prompt
    value=value
  }}
</div>

{{#if showErrors}}
  {{#if error}}
    <div class="error">
      {{error}}
    </div>
  {{/if}}
{{/if}}