<label {{bindAttr for=name}}>{{label}}</label>

<div>
  {{view "select"
    name=name
    content=content
    optionValuePath="content.id"
    optionLabelPath="content.name"
    prompt=prompt
    value=value
  }}
</div>

{{#if hasErrors}}
  <div class="error">
    {{#each error in errors}}
      {{error}}
    {{/each}}
  </div>
{{/if}}
