<div class="select">
  {{#x-select value=selectedTeam}}
    <option>{{prompt}}</option>

    {{#each team in teams}}
      {{#x-option value=team}}{{team.name}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</div>
