.avatar {
  @include detached-border($color: $section-border-color);

  height: $avatar-size;
  margin: $column-gutter / 4 0;
  width: $avatar-size;

  &.lead {
    @include detached-border($color: lighten($primary-color, 30%));
  }
}
