section.labs {
  > header {
    align-items: center;
    display: flex;
    padding: $column-gutter / 2 !important;

    h1 {
      display: inline-block;
      margin: 0 !important;
      vertical-align: middle;
    }

    .new {
      float: right;

      a {
        @extend %button-primary;

        display: inline-block;
      }
    }

    .filter {
      display: inline-block;
      flex: auto;
      margin-left: $column-gutter;
      vertical-align: middle;

      ul {
        display: table;

        li {
          @include single-transition(background-color, 100ms, linear);

          background-color: $white;
          border: 1px solid darken($global-section-border-color, 5%);
          border-left-width: 0;
          cursor: pointer;
          display: table-cell;
          height: $projects-header-height;
          padding: 0 $column-gutter / 2;
          vertical-align: middle;

          &:hover,
          &.active {
            background-color: darken($global-section-border-color, 5%);
          }

          &:first-child {
            border-left-width: 1px;
          }
        }

        button {
          margin: 0;
        }
      }
    }
  }

  > ul {
    display: flex;
    flex-flow: row wrap;

    > li {
      @media #{$small-only} {
        flex-basis: 100%;
        max-width: 100%;
      }

      @media #{$medium-only} {
        flex-basis: percentage(1/2);
        max-width: percentage(1/2);
      }

      display: flex;
      flex-basis: percentage(1/3);
      max-width: percentage(1/3);

      padding: $column-gutter / 2;
    }
  }
}
