@mixin project-priority-style($color: $info-color) {
  background-color: $color;
  box-shadow: 0 0 0 1px scale-color($color, $lightness: $alert-function-factor), 0 0 0 1px #fff inset;
}

section.projects {
  padding: 0 $column-gutter;

  .project {
    @extend %grid-row;

    border-bottom: 1px solid $section-border-color;
    display: table;
    padding: $column-gutter / 2 0;

    > div {
      display: table-cell;
      float: none !important;
      vertical-align: middle;
    }

    .priority {
      @extend %grid-column-1;

      > div {
        border-radius: $global-radius / 2;
        height: rem-calc(12);
        margin: 0 auto;
        width: rem-calc(12);
      }

      &.high > div {
        @include project-priority-style($alert-color);
      }

      &.medium > div {
        @include project-priority-style($warning-color);
      }

      &.low > div {
        @include project-priority-style;
      }
    }

    .details {
      @extend %grid-column-4;

      h1 {
        font-size: $base-font-size;

        small {
          display: block;
          line-height: 100%;
        }
      }

    }

    .members {
      @extend %grid-column-4;
    }

    .counts {
      @extend %grid-column-3;

      > div {
        @extend %grid-row;
      }

      .count {
        @extend %grid-column-4;

        font-size: $h5-font-size;

        i {
          color: $small-font-color;
          padding-right: $column-gutter / 2;
        }

        &.relevant {
          i {
            color: $alert-color;
          }
        }
      }

      .upcoming i {
        @include icon(clock-o);
      }

      .left-to-schedule i {
        @include icon(refresh);
      }

      .daily-remaining-target i {
        @include icon(check-circle-o);
      }
    }
  }
}
