$project-angles-text-color: $body-font-color;
$project-angle-background-color: $snow;
$project-angle-border-color: $smoke;
$project-angle-border: 1px solid $project-angle-border-color;
$project-angle-heading-color: $charcoal;
$project-angle-section-padding: $column-gutter;

$input-avatar-width: $super-number-height;
$input-avatar-border: 1px solid $smoke;
$input-avatar-radius: $global-radius;
$input-avatar-inner-padding: 3px;

$angle-avatar-add-button-size: $super-number-height * 0.6;
$angle-avatar-add-button-color: $primary-color;

@mixin angle-avatar-input-grid-size {
  @extend %grid-column-large-3;
  @extend %grid-column-medium-4;
  @extend %grid-column-small-6;
}

.angles {
  @extend %angles-section;

  .input-avatar {
    @extend %input-avatar;
  }

  .angle-avatar-add {
    @include angle-avatar-input-grid-size;

    line-height: $input-avatar-width;

    button {
      @extend %angle-avatar-add-button;
    }
  }
}

%angles-section {
  header {
    padding: $project-angle-section-padding;

    h2 {
      padding: $column-gutter / 2;
    }
  }

  section {
    @extend %grid-row;

    @include clearfix();

    background-color: $project-angle-background-color;
    border-top: $project-angle-border;
    padding: $project-angle-section-padding / 2 $project-angle-section-padding;

    &:last-child {
      border-bottom: 1px solid $project-angle-border-color;
    }

    h5 {
      padding-bottom: $project-angle-section-padding / 2;
      padding-left: $column-gutter / 2;
      padding-right: $column-gutter / 2;
    }
  }
}

%input-avatar {
  @include angle-avatar-input-grid-size;

  position: relative;

  img {
    border-radius: $input-avatar-radius;
    height: $input-avatar-width;
    overflow: hidden;
    padding: $input-avatar-inner-padding;
    position: absolute;
    width: $input-avatar-width;
    z-index: 1;
  }

  input {
    -moz-appearance: textfield;
    border-radius: $input-avatar-radius;
    border: $input-avatar-border;
    box-sizing: border-box;
    color: $project-angles-text-color;
    font-size: $h2-font-size;
    height: $input-avatar-width;
    padding: 0;
    padding-left: $input-avatar-width * 1.2 + $input-avatar-inner-padding;
    padding-right: $super-number-arrow-size * 1.2;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
}

%angle-avatar-add-button {
  @include button-icon(plus);

  background-color: $angle-avatar-add-button-color;
  color: $white;
  border-color: darken($angle-avatar-add-button-color, 15%);

  &:before {
    width: $angle-avatar-add-button-size;
    line-height: $angle-avatar-add-button-size;
  }
}
