$project-angles-text-color: $body-font-color;
$project-angle-background-color: $snow;
$project-angle-border-color: darken($project-angle-background-color, 5%);
$project-angle-border: 1px solid $project-angle-border-color;
$project-angle-heading-color: $charcoal;
$project-angle-section-padding: $column-gutter;

$input-avatar-width: $super-number-height;
$input-avatar-border: 1px solid $smoke;
$input-avatar-radius: $global-radius;
$input-avatar-inner-padding: 3px;

$angle-add-user-button-size: $super-number-height * .6;
$angle-add-user-button-color: scale-color($primary-color, $lightness: -$alert-function-factor);
$angle-add-user-avatar-size: $avatar-size-tiny;
$angle-add-user-dropdown-padding: $input-avatar-inner-padding * 2;
$angle-add-user-search-icon-padding: $form-spacing / 2;
$angle-add-user-search-icon-height: $form-label-line-height;
$angle-add-user-search-icon-color: $angle-add-user-button-color;

$side-panel-controls-border-color: $project-angle-border-color;
$side-panel-controls-button-size: $angle-add-user-button-size;

@mixin angle-avatar-input-grid-size {
  @extend %grid-column-large-3;
  @extend %grid-column-medium-4;
  @extend %grid-column-small-6;
}

.angles {
  @extend %angles-section;

  .priority {
    display: inline-block;
    margin-left: $column-gutter / 2;

    button {
      border: 0;
      display: block;
      height: 12px;
      margin: 4px 0;
      width: 12px;
    }

    &.high > button {
      @include project-priority($alert-color);
    }

    &.medium > button {
      @include project-priority($warning-color);
    }

    &.low > button {
      @include project-priority($info-color);
    }

  }

  .input-avatar {
    @extend %input-avatar;

    .delete {
      @include button-icon(close);
      @include single-transition(background-color, 100ms, linear);

      border: $input-avatar-border;
      border-radius: $global-rounded;
      display: none;
      position: absolute;
      right: 0;
      top: -$super-number-arrow-size / 2;
      z-index: 1;

      &:before {
        line-height: $super-number-arrow-size;
        width: $super-number-arrow-size;
      }

      &:hover {
        background-color: $charcoal;
        color: $white;
      }
    }

    &:hover .delete {
      display: block;
    }
  }
}

.angle-avatar-add {
  @include angle-avatar-input-grid-size;

  line-height: $input-avatar-width;

  button {
    @extend %angle-avatar-add-button;
  }

  &.dropdown {
    ul {
      max-width: none;
      width: auto;

      li {
        line-height: $angle-add-user-avatar-size;
        white-space: nowrap;

        a {
          padding: $angle-add-user-dropdown-padding $column-gutter / 2;
        }
      }
    }

    img {
      @include detached-border($color: $global-section-border-color);

      display: inline-block;
      height: $angle-add-user-avatar-size;
      margin-right: $column-gutter / 4;
      width: $angle-add-user-avatar-size;
    }

    .search {
      padding: $input-avatar-inner-padding;

      i {
        @include icon(search);

        color: $angle-add-user-search-icon-color;
        line-height: $angle-add-user-search-icon-height;
        padding: $angle-add-user-search-icon-padding $column-gutter / 2;
        position: absolute;
      }

      input {
        border-radius: $global-radius / 2;
        margin-bottom: 0;
        padding-left: $angle-add-user-avatar-size * 1.5;
      }
    }
  }
}

%angles-section {
  header {
    padding: $project-angle-section-padding;

    h2 {
      display: inline-block;
      margin: 0;
      padding: $column-gutter / 2;
    }

    .counts {
      color: $small-font-color;
      font-size: $small-font-size;
      padding-top: $project-angle-section-padding / 2;
      text-transform: uppercase;

      span {
        font-weight: $font-weight-bold;
        padding-left: $column-gutter / 2;
      }
    }
  }

  section {
    @extend %grid-row;

    @include clearfix();

    background-color: $project-angle-background-color;
    border-top: $project-angle-border;
    padding: $project-angle-section-padding / 2 $project-angle-section-padding;

    &:last-child {
      border-bottom: 1px solid $project-angle-border-color;
    }

    h5 {
      padding-bottom: $project-angle-section-padding / 2;
      padding-left: $column-gutter / 2;
      padding-right: $column-gutter / 2;
    }
  }
}

%input-avatar {
  @include angle-avatar-input-grid-size;

  position: relative;

  img {
    border-radius: $input-avatar-radius;
    height: $input-avatar-width;
    overflow: hidden;
    padding: $input-avatar-inner-padding;
    position: absolute;
    width: $input-avatar-width;
    z-index: 1;
  }

  input {
    -moz-appearance: textfield;
    border: $input-avatar-border;
    border-radius: $input-avatar-radius;
    box-shadow: none;
    box-sizing: border-box;
    color: $project-angles-text-color;
    font-size: $h2-font-size;
    height: $input-avatar-width;
    padding-bottom: 0;
    padding-left: $input-avatar-width * 1.2 + $input-avatar-inner-padding;
    padding-right: $super-number-arrow-size * 1.2;
    padding-top: 0;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
}

%angle-avatar-add-button {
  @include button-icon(plus);

  background-color: $angle-add-user-button-color;
  border-color: darken($angle-add-user-button-color, 5%);
  color: $white;

  &:before {
    line-height: $angle-add-user-button-size;
    width: $angle-add-user-button-size;
  }
}

.side-controls {
  float: right;

  ul {
    @include button-group-container($float: true);

    > li {
      @include button-group-style($radius: $global-radius, $float: null);

      button {
        border-color: $side-panel-controls-border-color;
        border-left: 0;

        &.previous-project {
          @include button-icon(angle-left);
        }

        &.next-project {
          @include button-icon(angle-right);
        }
      }

      &:first-child button {
        border-left: solid 1px $side-panel-controls-border-color;
      }
    }
  }

  .close-panel {
    @include button-icon(close);

    border-color: $side-panel-controls-border-color;
  }

  button {
    &:before {
      font-size: $h3-font-size;
      line-height: $side-panel-controls-button-size !important;
      width: $side-panel-controls-button-size !important;
    }
  }
}
