@mixin project-priority($color: $info-color) {
  background-color: $color;
  box-shadow: 0 0 0 1px scale-color($color, $lightness: $alert-function-factor), 0 0 0 1px #fff inset;
}

section.projects {
  padding: 0 $column-gutter;

  .project {
    @extend %grid-row;

    border-bottom: 1px solid $section-border-color;
    display: table;
    padding: $column-gutter / 2 0;

    > div {
      display: table-cell;
      float: none !important;
      vertical-align: middle;
    }

    > .priority {
      @extend %grid-column-1;

      > div {
        border-radius: $global-radius / 2;
        height: 12px;
        margin: 0 auto;
        width: 12px;
      }

      &.high > div {
        @include project-priority($alert-color);
      }

      &.medium > div {
        @include project-priority($warning-color);
      }

      &.low > div {
        @include project-priority;
      }
    }

    > .details {
      @extend %grid-column-4;

      h1 {
        font-size: $base-font-size;

        small {
          display: block;
          line-height: 100%;
        }
      }

    }

    > .members {
      @extend %grid-column-4;
    }

    > .progress {
      @extend %grid-column-3;

      padding: 0 $column-gutter;

      &:hover {
        .details .proposed {
          opacity: 1;
        }
      }

      .progress-bar {
        > div {
          background-color: lighten($success-color, 20%);
          border-radius: $global-radius / 2;
        }
      }

      .details {
        @extend %grid-row;

        font-size: $small-font-size;
        margin-top: $column-gutter / 4;

        .proposed,
        .target {
          @extend %grid-column-6;

          color: darken($info-color, 20%);
          padding: 0 !important;
        }

        .proposed {
          @include single-transition(opacity, 150ms, linear);

          opacity: 0;
          text-align: left;
        }

        .target {
          text-align: right;
        }

        .count {
          font-weight: $font-weight-bold;
          margin-right: $column-gutter / 4;
        }

        .label {
          text-transform: uppercase;
        }
      }
    }
  }
}
