.quick-jump {
  @include single-transition(background-color, 150ms, linear);

  bottom: 0;
  left: 0;
  overflow-y: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;

  > * {
    pointer-events: all;
  }

  .bar, .actions {
    padding: 0 $column-gutter / 2;
  }

  .bar {
    background-color: $quick-jump-background-color;
    display: block;
    height: $quick-jump-height;
    line-height: $quick-jump-height;
    position: relative;
    width: 100%;

    .progress-indicator {
      @include single-transition(all, 150ms, linear);

      border-radius: 50%;
      color: $primary-color;
      height: $quick-jump-icon-size;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: ($quick-jump-height - $quick-jump-icon-size) / 2;
      width: $quick-jump-icon-size;

      i {
        @include icon(search);

        line-height: $quick-jump-icon-size;
        display: block;
      }
    }

    input {
      @include single-transition(all, 150ms, linear);

      background-color: transparent;
      border-width: 0;
      box-shadow: none;
      display: inline-block;
      margin: 0;
      text-indent: $quick-jump-icon-size + rem-calc(5);
      width: 100%;
    }
  }

  &.loading {
    .results .content {
      opacity: 0.7;
    }
  }

  &.active {
    background-color: $overlay-background-color;
    pointer-events: all;

    .bar {
      background-color: $white;
      border-bottom: 1px solid $quick-jump-background-color;

      .progress-indicator {
        background-color: $primary-color;
        color: $white;
      }
    }
  }

  .liquid-actions {
    overflow: visible;
  }

  .actions {
    $actions-button-size: $quick-jump-icon-size;

    position: absolute;
    right: 0;
    text-align: right;
    top: ($quick-jump-height - $actions-button-size) / 2;
    white-space: nowrap;

    button {
      height: $actions-button-size;
      width: $actions-button-size;
      margin-bottom: 0px;
    }

    .close {
      @include icon(times-circle);

      border-width: 0;
      background-color: transparent;
    }

    .change-app {
      @include icon(th);
    }

    .add {
      @include icon(plus);
    }

    .apps, .add-actions {
      @extend %dropdown;

      text-align: left;
      min-width: rem-calc(150);
    }
  }

  .liquid-results {
    @extend %static-liquid-container;
  }

  .results {
    position: relative;
    width: 100%;
    background-color: $quick-jump-results-background-color;

    .content {
      @include single-transition(opacity, 150ms, linear);

      section {
        @extend %grid-row;

        padding-top: $column-gutter / 2;
        padding-bottom: $column-gutter / 2;

        h1 {
          @extend .hide-for-small-only;
          @extend %grid-column-2;
          @extend %heading-smaller-uppercase;

          color: $primary-color;
          line-height: $quick-jump-results-item-height;
          margin-top: 0;
          margin-bottom: 0;
          text-align: right;
        }

        &:nth-of-type(even) {
          background: darken($quick-jump-results-background-color, 3%);;
        }
      }
    }

    .content section {
      ul {
        @extend %grid-column-small-12;
        @extend %grid-column-medium-10;
        @extend .no-bullet;

        margin-bottom: 0;
      }

      li {
        line-height: $quick-jump-results-item-height;
      }

      article {
        @extend %grid-column-12;

        cursor: pointer;

        &:hover {
          background-color: lighten($quick-jump-results-background-color, 3%);
        }
      }
    }
  }
}

%heading-smaller-uppercase {
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}