$side-panel-background: $white;
$side-panel-width: 70%;

.side-panel {
  @include single-transition(background-color, 150ms, linear);

  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;

  > div {
    @include single-transition(opacity, 150ms, linear);

    background-color: $side-panel-background;
    float: right;
    height: 100%;
    overflow-y: auto;
    position: relative;
    right: -$side-panel-width;
    width: $side-panel-width;

    section {
      @extend %grid-row;
    }
  }

  &.active {
    background-color: $global-overlay-background-color;
  }
}
