.stats {
  > ul {
    @include inline-list;

    line-height: $teams-selected-header-height;
    margin-bottom: 0;
    padding: 0 $column-gutter / 2;
    text-align: right;

    > li {
      display: inline-block;
      float: none;
      margin-left: $column-gutter;
      text-transform: uppercase;
      white-space: nowrap;

      > div {
        display: inline-block;
      }

      i {
        color: $small-font-color;
        display: inline !important;
        font-size: $h3-font-size !important;
        vertical-align: middle;
      }
    }

    .count {
      font-weight: $font-weight-bold;
      margin: 0 $column-gutter / 4;
    }

    .name {
      display: none;
      font-size: $small-font-size;

      @media #{$large-up} {
        display: inline-block;
      }
    }

    .upcoming i {
      @include icon(clock-o);
    }

    .left-to-schedule i {
      @include icon(refresh);
    }

    .delivered i {
      @include icon(check-circle-o);
    }
  }

  @media #{$small-only} {
    border-top: 1px solid $section-border-color;
    margin-top: $column-gutter / 2;

    > ul {
      text-align: center;
    }
  }
}
