.teams {
  .change {
    display: inline-block;
    line-height: $application-content-heading-height;
    margin-bottom: 0;
    position: relative;

    button {
      @include button-icon(exchange);

      margin-right: rem-calc(10);
    }

    ul {
      margin-left: 0;
      max-height: rem-calc(400) !important;
      min-width: rem-calc(300) !important;
      overflow-y: auto;
    }
  }

  .selected-team {
    @extend %grid-row;

    header {
      @extend %grid-row;

      background-color: lighten($info-color, 2%);
      border-radius: $global-radius / 2;
      line-height: $teams-selected-header-height;
      margin-top: $column-gutter / 2;
      padding: $column-gutter / 2 0;
      width: auto;

      .sort-by-label {
        @extend %grid-column-small-4;
        @extend %grid-column-medium-2;
        @extend %grid-column-large-1;

        text-align: center;

        label {
          line-height: $teams-selected-header-height;
        }
      }

      .sort-by-select {
        @extend %grid-column-small-8;
        @extend %grid-column-medium-3;
        @extend %grid-column-large-2;
      }

      select {
        margin-bottom: 0;
        padding-right: rem-calc(30);
      }
    }
  }
}
