.teams {
  .change {
    display: inline-block;
    line-height: $application-content-heading-height;
    margin-bottom: 0;

    button {
      @include icon(exchange);

      margin-left: rem-calc(10);
    }
  }

  .list {
    @extend %dropdown;

    min-width: rem-calc(300) !important;

    ul {
      max-height: rem-calc(400) !important;
      overflow-y: auto;
      margin-left: 0;
    }
  }
}
