<article>
  <div class="title">
    {{as-avatar person=model}}
    <span>{{model.name}}</span>
  </div>

  <div class="time">
  </div>

  <div class="actions">
    <span>{{model.deliveryPerformance.unusedAdvisorsCount}} Unused Advisors</span>
  </div>
</article>
