body > div {
  > .apps, > .add {
    @extend %dropdown;
  }
}

.application main {
  > div {
    @extend %grid-root-row;
  }

  .quick-jump {
    height: $header-height;
    line-height: $header-height;
    overflow: hidden;
  }
}
