body > div {
  > .apps, > .add {
    @extend %dropdown;
  }
}

.application main {
  .quick-jump {
    height: $header-height;
    line-height: $header-height;
    overflow: hidden;
  }

  .content {
    @extend %grid-root-row;

    padding: $column-gutter / 2;
  }
}
