body > div {
  > .apps, > .add {
    @extend %dropdown;
  }
}

.application main {
  bottom: 0;
  left: $nav-width;
  padding: $column-gutter / 2;
  position: absolute;
  right: 0;
  top: 0;

  > div {
    @extend %grid-root-row;
  }

  .quick-jump {
    height: $header-height;
    left: 0;
    line-height: $header-height;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
}
