body > div {
  > .apps, > .add {
    @extend %dropdown;
  }
}

.application .quick-jump {
  height: $header-height;
  left: 0;
  line-height: $header-height;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
