body > div {
  > .session-actions {
    @extend %dropdown;
  }
}

.application > .sidebar {
  background-color: $nav-background-color;
  width: $nav-width;
  height: 100%;
  float: left;

  > header {
    padding: 0 $column-gutter / 2;
    width: $nav-width;
    height: $header-height;
    line-height: $header-height;

    img {
      height: rem-calc(30px);
      margin-right: $column-gutter / 2;
      width: rem-calc(30px);
    }

    h1 {
      display: inline-block;
      color: $white;
    }
  }

  > nav {
    position: absolute;
    top: $header-height;
    bottom: $session-height;;
    width: $nav-width;
    left: 0;
    overflow-y: scroll;

    h1 {
      background-color: $nav-title-background-color;
      color: $nav-title-text-color;
      line-height: $nav-title-height;
      padding: $column-gutter / 2 $column-gutter;
    }

    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        @include single-transition(all, 150ms, linear);

        border-bottom: 2px solid $nav-title-background-color;
        display: block;
        font-size: rem-calc(14px);
        font-weight: 300;
        line-height: $nav-link-height;
        padding: 0 $column-gutter;
        text-decoration: none;

        &, &:visited {
          color: $nav-link-text-color;
        }

        &:hover {
          background-color: $nav-title-background-color;
        }
      }

      i {
        background-color: $nav-title-background-color;
        border-radius: rem-calc(10px);
        color: $nav-link-text-color;
        margin-right: $column-gutter / 2;
        padding: rem-calc(10px);
      }

      .dashboard i {
        @include icon(tachometer);
      }

      .team i {
        @include icon(tasks);
      }

      .projects i {
        @include icon(folder);
      }

      .performances i {
        @include icon(bar-chart);
      }
    }
  }

  .session {
    bottom: 0;
    left: 0;
    width: $nav-width;
    height: $session-height;
    line-height: $session-height;
    position: fixed;
    background: $nav-title-background-color;

    .picture {
      border-radius: $session-height / 2;
      display: inline-block;
      height: $session-height / 2;
      margin: 0 $column-gutter / 2;
      width: $session-height / 2;
    }

    .name {
      color: $nav-link-text-color;
      display: inline-block;
      font-size: rem-calc(14px);
      margin-right: $column-gutter / 2;
    }

    .toggle-actions {
      display: inline-block;
      float: right;
      font-size: rem-calc(18px);
      line-height: $session-height;
      margin-right: $column-gutter / 2;

      button {
        @include icon(cog);

        background-color: transparent;
        border-width: 0;
        color: $nav-link-text-color;
      }
    }
  }
}
