@import "components/progress-indicator";

@import "views/quick-jump";
@import "views/sidebar";

.application {
  > main > .content {
    position: absolute;
    top: $sidebar-header-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
  }
}
