@import 'components/progress-indicator';
@import 'components/side-panel';

@import 'views/quick-jump';
@import 'views/sidebar';

.application {
  position: relative;

  main > .content:before {
    content: ' ';
    display: block;
    height: $quick-jump-height;
  }
}
