$validation-error-color: #ff7f7d;

ul,
li,
ul li ul,
ul li ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
select {
  font-weight: $font-weight-bold;
}

.notification {
  right: 15px !important;
  top: 15px !important;
}

#intercom-container .intercom-launcher {
  display: none !important;
}

form .with-errors .error a {
  color: $validation-error-color;
  text-decoration: underline;
}
