.liquid-container {
  overflow: visible;
}

// Move to paint
%grid-column-centered {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

%default-button {
  @include button(
    $bg: $primary-input-color,
    $padding: $column-gutter / 2,
    $radius: $global-radius
  );

  font-size: $small-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
