.alert-box.info {
  background-color: #a0d3e8;
  border-color: #74bfdd;
  color: #4f4f4f;
}

.alert-box.success {
  background-color: #43AC6A;
  border-color: #3a945b;
  color: #FFF;
}

.alert-box.warning {
  background-color: #f08a24;
  border-color: #de770f;
  color: #FFF;
}

.alert-box.alert {
  background-color: #f04124;
  border-color: #de2d0f;
  color: #FFF;
}
