$layout-sidebar-nav-classes:
  dashboard,
  whiteboards,
  projects,
  performance,
  settings;

$layout-sidebar-nav-icons:
  tachometer,
  edit,
  folder,
  bar-chart,
  cog;

$layout-sidebar-nav-list-selector: '> div > .content > ul';
$layout-sidebar-footer-avatar-selector: '.picture';
$layout-sidebar-footer-actions-selector: '.toggle-actions';

$info-color: #ededed;

$phoenix-font-family: "pragmatica-web", "Helvetica Neue", Helvetica, sans-serif;
$body-font-family: $phoenix-font-family;
$header-font-family: $phoenix-font-family;

$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-extrabold: 700;

$alert-font-size: rem-calc(16);

$typography: (
  condensed-tags: (
    h1: -1px
  )
);
