$layout-sidebar-nav-classes:
  dashboard,
  teams,
  projects,
  performances,
  settings;

$layout-sidebar-nav-icons:
  tachometer,
  tasks,
  folder,
  bar-chart,
  cog;

$layout-sidebar-footer-block: 'section.user-session';
$layout-sidebar-header-height: 60px;

$alert-function-factor: -20%;

$alert-color: #ff7f7d;
$warning-color: #ffcc7a;
$info-color: #ededed;
$small-font-color: #888888;

$f-dropdown-triangle-side-offset: 8px;
