$layout-sidebar-nav-classes:
  dashboard,
  teams,
  projects,
  performances,
  settings;

$layout-sidebar-nav-icons:
  tachometer,
  tasks,
  folder,
  bar-chart,
  cog;

$layout-sidebar-footer-block: 'section.user-session';

$alert-function-factor: -20%;

$alert-color: #FF7F7D;
$warning-color: #FFCC7A;
$info-color: #EDEDED;
$small-font-color: #C2C2C2;
