$overlay-background-color: rgba(0, 0, 0, .45);
$section-border-color: rgba(0, 0, 0, .075);

$application-content-heading-height: rem-calc(100);
$application-content-heading-color: $subheader-font-color;

$projects-header-height: rem-calc(40);
$project-hover-background-color: $ghost;

$quick-jump-height: $layout-sidebar-header-height;
$quick-jump-background-color: #e1e5ea;
$quick-jump-icon-size: $button-icon-size;
$quick-jump-results-background-color: #f2f2f2;
$quick-jump-results-heading-height: rem-calc(30);
$quick-jump-results-item-height: rem-calc(50);

$side-panel-background: $white;
$side-panel-width: 70%;

$avatar-size: 50px;
$avatar-size-small: $avatar-size * .6;
$avatar-size-tiny: $avatar-size * .5;
$avatar-size-large: $avatar-size * 1.6;

