@import "settings";
@import "bower_components/paint/paint";

$nav-text-color: #f2f2f2;
$nav-background-color: #191c1f;
$nav-link-height: rem-calc(80px);
$nav-link-text-color: darken($nav-text-color, 30%);
$nav-min-height: rem-calc(500px);
$nav-title-height: rem-calc(80px);
$nav-title-text-color: darken($nav-text-color, 50%);
$nav-title-background-color: lighten($nav-background-color, 5%);
$nav-width: rem-calc(260px);

$header-background-color: #e1e5ea;
$header-height: rem-calc(80px);

$session-height: rem-calc(30px);

$search-results-background-color: #f2f2f2;
$search-results-item-height: rem-calc(50px);

body {
  @extend %grid-root-row;
}

#apps, #add, #session-actions {
  @extend %dropdown;
}

.application .search-results {
  bottom: 0;
  left: $nav-width;
  position: absolute;
  right: 0;
  top: $header-height;

  .overlay {
    background-color: #000000;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }

  > div, .content {
    min-height: rem-calc(200px);
  }

  .content {
    background-color: $search-results-background-color;
    padding: $column-gutter / 2;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      height: $search-results-item-height;
      line-height: $search-results-item-height;
    }

    article, h1 {
      padding: 0 $column-gutter / 2;
    }

    article {
      border-bottom: rem-calc(1px) solid #e8e8e8;
      cursor: pointer;

      &:hover {
        background-color: #eeeeee;
      }
    }

    section {
      $font-size: rem-calc(14px);

      margin: $column-gutter / 2 $column-gutter;
      padding: $column-gutter / 2;
      font-size: $font-size;

      h1 {
        font-size: $font-size;
        margin-bottom: $column-gutter / 2;
      }
    }
  }
}

.application {
  h1 {
    font-size: rem-calc(15px);
    font-weight: 100;
    margin: 0;
    text-transform: uppercase;
  }
}

.application > header {
  height: $header-height;
  left: 0;
  line-height: $header-height;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  h1 {
    color: $nav-text-color;
    display: inline-block;
    margin-right: $column-gutter / 2;
  }

  .main {
    background-color: $nav-background-color;
    padding: 0 $column-gutter / 2;
    width: $nav-width;

    img {
      height: rem-calc(30px);
      margin-right: $column-gutter / 2;
      width: rem-calc(30px);
    }
  }

  .actions {
    $search-icon-size: rem-calc(30px);

    @include single-transition(background-color, 150ms, linear);

    background-color: $header-background-color;
    bottom: 0;
    left: $nav-width;
    padding: 0 $column-gutter / 2;
    position: absolute;
    right: 0;
    top: 0;

    > div {
      @extend %grid-row;
    }

    &.searching {
      background-color: #ffffff;
      border-bottom: rem-calc(1px) solid #d0d0d0;

      .search {
        i {
          background-color: $primary-color;
          color: #ffffff;
        }
      }
    }

    .search {
      @extend %grid-column-10;

      position: relative;

      i {
        @include icon(search);
        @include single-transition(all, 150ms, linear);

        border-radius: $search-icon-size / 2;
        color: $primary-color;
        height: $search-icon-size;
        left: 0;
        line-height: $search-icon-size;
        margin-top: - $search-icon-size / 2;
        position: absolute;
        text-align: center;
        top: 50%;
        width: $search-icon-size;
      }

      input {
        @include single-transition(all, 150ms, linear);

        background-color: transparent;
        border-width: 0;
        box-shadow: none;
        display: inline-block;
        margin: 0;
        text-indent: $search-icon-size + rem-calc(5px);
        width: 100%;
      }
    }

    .toggles {
      $button-size: rem-calc(30px);

      @extend %grid-column-2;

      text-align: right;

      button {
        height: $button-size;
        width: $button-size;
      }

      .change-app {
        @include icon(th);
      }

      .add {
        @include icon(plus);
      }
    }
  }
}

.application > nav {
  background-color: $nav-background-color;
  bottom: 0;
  left: 0;
  min-height: $nav-min-height;
  position: absolute;
  top: $header-height;
  width: $nav-width;

  > div {
    height: 100%;
    position: relative;

    h1 {
      background-color: $nav-title-background-color;
      color: $nav-title-text-color;
      line-height: $nav-title-height;
      padding: $column-gutter / 2 $column-gutter;
    }

    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        @include single-transition(all, 150ms, linear);

        border-bottom: 2px solid $nav-title-background-color;
        display: block;
        font-size: rem-calc(14px);
        font-weight: 300;
        line-height: $nav-link-height;
        padding: 0 $column-gutter;
        text-decoration: none;

        &, &:visited {
          color: $nav-link-text-color;
        }

        &:hover {
          background-color: $nav-title-background-color;
        }
      }

      i {
        background-color: $nav-title-background-color;
        border-radius: rem-calc(10px);
        color: $nav-link-text-color;
        margin-right: $column-gutter / 2;
        padding: rem-calc(10px);
      }

      .dashboard i {
        @include icon(tachometer);
      }

      .team i {
        @include icon(tasks);
      }

      .projects i {
        @include icon(folder);
      }

      .performances i {
        @include icon(bar-chart);
      }
    }
  }

  .session {
    @include clearfix;

    bottom: 0;
    left: 0;
    line-height: $session-height;
    position: absolute;
    right: 0;

    .picture {
      border-radius: $session-height;
      display: inline-block;
      height: $session-height;
      margin: 0 $column-gutter / 2;
      width: $session-height;
    }

    .name {
      color: $nav-link-text-color;
      display: inline-block;
      font-size: rem-calc(14px);
      margin-right: $column-gutter / 2;
    }

    .toggle-actions {
      display: inline-block;
      float: right;
      font-size: rem-calc(18px);
      line-height: $session-height;
      margin-right: $column-gutter / 2;

      button {
        @include icon(cog);

        background-color: transparent;
        border-width: 0;
        color: $nav-link-text-color;
      }
    }
  }

  main {
    bottom: 0;
    left: $nav-width;
    padding: $column-gutter / 2;
    position: absolute;
    right: 0;
    top: $header-height;
  }
}
