{{#rl-dropdown-container class="extras filters dropdown"}}
  {{#rl-dropdown-toggle}}
    <span>{{filter.name}}</span>
    <i></i>
  {{/rl-dropdown-toggle}}

  {{#rl-dropdown tagName="ul" class="bottom" closeOnChildClick=true}}
    {{#each filter in availableFilters}}
      <li><a {{action "setFilter" filter}}>{{filter.name}}</a></li>
    {{/each}}
  {{/rl-dropdown}}
{{/rl-dropdown-container}}
