<div class="bar">
  <i></i>

  {{input
    type="text"
    placeholder="Jump to advisors, client, projects and more..."
    value=query
  }}
</div>

<div class="actions">
  {{#liquid-if view.isActive use="crossFade" class="liquid-actions"}}
    <button class="close" title="Close"></button>
  {{else}}
    <button class="change-app" title="Change App" data-dropdown="apps"></button>

    <ul id="add-actions" class="add-actions" data-dropdown-content>
      <li><a href="#">New advisor</a></li>
      <li><a href="#">New project</a></li>
    </ul>

    <button class="add" title="Add" data-dropdown="add-actions"></button>

    <ul id="apps" class="apps" data-dropdown-content>
      <li><a href="#">Metrics</a></li>
      <li><a href="#">Finance</a></li>
      <li><a href="#">Clients</a></li>
    </ul>
  {{/liquid-if}}
</div>

{{#liquid-if view.isActive use="crossFade" class="liquid-results"}}
  <div class="results">
    <div>
      <section>
        <h1>Results</h1>

        <ul>
          {{#each results}}
            <li><article>{{_type}}</article></li>
          {{/each}}
        </ul>
      </section>
    </div>
  </div>
{{/liquid-if}}
