<header>
  <img src="assets/images/logo.png" alt="Phoenix"></img>
  <h1>Phoenix</h1>
</header>

<nav>
  <header>
    <div class="toggle-collapse">
      <button {{action "toggleCollapse" target=view}}></button>
    </div>

    <h1>Menu</h1>
  </header>

  <ul>
    <li class="dashboard">{{#link-to 'dashboard'}}<i></i><span>Dashboard</span>{{/link-to}}</li>
    <li class="projects">{{#link-to 'projects'}}<i></i><span>Projects</span>{{/link-to}}</li>
    <li class="team">{{#link-to 'teams'}}<i></i><span>Teams</span>{{/link-to}}</li>
    <li class="performances">{{#link-to 'performances'}}<i></i><span>Performances</span>{{/link-to}}</li>
  </ul>
</nav>

<section class="user-session">
  <div class="toggle-actions">
    <button title="Actions" data-dropdown="session-actions" data-options="align: top"></button>

    <ul id="session-actions" class="actions" data-dropdown-content>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>

  <img
    class="picture"
    alt="Profile Picture"
    {{bind-attr src=currentUser.avatarUrl title=currentUser.initials}}
  />

  <div class="name">
    {{#link-to 'index' (query-params projectId=1)}}
      {{currentUser.name}}
    {{/link-to}}
  </div>
</section>
