<article class="angles">
  <header>
    <div class="priority high">
      <button></button>
    </div>

    <h1>
      Project Name
      <small>ALPHA</small>
    </h1>

    <div class="counts">
      <span class="count">8</span> Upcoming Interactions
      <span class="count">8</span> Left to Schedule
      <span class="count">8</span> Delivered Today
    </div>
  </header>

  <section>
    <h5>Angle 001</h5>

    <div class="input-avatar">
      <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
      <button class="delete"></button>
      {{super-number}}
    </div>

    <div class="input-avatar">
      <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
      <button class="delete"></button>
      {{super-number}}
    </div>

    <div class="input-avatar">
      <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
      <button class="delete"></button>
      {{super-number}}
    </div>

    {{#as-dropdown title="Add Team Member" class="angle-avatar-add" align="left"}}
      {{#as-dropdown-item class="search"}}
        <i></i>
        <input type="text" />
      {{/as-dropdown-item}}

      {{#as-dropdown-item}}
        <a>
          <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
          Username Fullname <small>(UFu)</small>
        </a>
      {{/as-dropdown-item}}
      {{#as-dropdown-item}}
        <a>
          <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
          Username Fullname Bigger<small>(UFu)</small>
        </a>
      {{/as-dropdown-item}}
      {{#as-dropdown-item}}
        <a>
          <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
          Username Fullname <small>(UFu)</small>
        </a>
      {{/as-dropdown-item}}
      {{#as-dropdown-item}}
        <a>
          <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
          Username Fullname Extraspace<small>(UFu)</small>
        </a>
      {{/as-dropdown-item}}
      {{#as-dropdown-item}}
        <a>
          <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
          Username Fullname <small>(UFu)</small>
        </a>
      {{/as-dropdown-item}}
      {{#as-dropdown-item}}
        <a>
          <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
          Username Fullname <small>(UFu)</small>
        </a>
      {{/as-dropdown-item}}
    {{/as-dropdown}}
  </section>
</article>
