<article class="angles">
  <header>
    <div class="side-controls">
      <ul>
        <li><button class="previous-project" /></li>
        <li><button class="next-project" /></li>
      </ul>
      <button class="close-panel" />
    </div>

    <h2>
      Project Name
      <small>ALPHA</small>
    </h2>
  </header>

  <section>
    <h5>Angle 001</h5>

    <div class="input-avatar">
      <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
      {{super-number}}
    </div>

    <div class="input-avatar">
      <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
      {{super-number}}
    </div>

    <div class="input-avatar">
      <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
      {{super-number}}
    </div>

    <div class="angle-avatar-add">
      <button data-dropdown="dropb" class="dropdown-button" data-options="align: bottom" aria-expanded="false"></button>
    </div>
  </section>
</article>