<article class="angles">
  <header>
    <h1>Project Name</h1>
  </header>

  <section>
    <h3>Angle 001</h3>

    <div class="input-avatar">
      <img src="http://engineering.alphasights.com/img/team__1.jpg" alt="" />
      {{super-number}}
    </div>

    <div class="angle-avatar-add">
      <button data-dropdown="dropb" class="dropdown-button" data-options="align: bottom" aria-expanded="false"></button>
    </div>
  </section>
</article>