.application main > .content {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: $layout-sidebar-header-height;

  .main-content {
    height: 100%;

    > section,
    > article {
      @extend %grid-row;

      height: 100%;
      position: relative;

      > header {
        border-bottom: solid 1px $global-section-border-color;
        padding: 0 $column-gutter;

        h1 {
          color: $subheader-font-color;
          font-weight: $font-weight-normal;
          margin: $column-gutter 0;
        }

        @media #{$large-up} {
          text-align: left;
        }
      }
    }
  }

  section.error {
    padding: 30px;
  }
}
