.side-panel footer .actions {
  &.form-submission {
    @include form-submission($standalone: true, $height: side-panel-settings(footer-bar, height));

    padding: 0 $column-gutter !important;

    .action .confirmation {
      padding: 0 $column-gutter !important;
    }

    .action.close {
      float: right;
    }
  }
}
