$angle-member-width: $super-number-height;
$angle-member-border: 1px solid $smoke;
$angle-member-radius: $global-radius;
$angle-member-inner-padding: 3px;

$angle-add-member-button-size: $super-number-height * .6;
$angle-add-member-button-color: scale-color($primary-color, $lightness: -$alert-function-factor);
$angle-add-member-avatar-size: $avatar-size-tiny;
$angle-add-member-dropdown-padding: $angle-member-inner-padding * 2;
$angle-add-member-search-icon-padding: $form-spacing / 2;
$angle-add-member-search-icon-size: 32px;
$angle-add-member-search-icon-color: $angle-add-member-button-color;

.side-panel.project .angle-memberships {
  margin-right: $column-gutter / 2;

  > ul {
    margin-left: 0;
    padding: 0;

    > li > article {
      @extend %grid-column-small-6;
      @extend %grid-column-medium-4;
      @extend %grid-column-large-3;
      @extend %grid-column-xlarge-2;

      margin-bottom: $column-gutter / 2;
      padding-left: 0 !important;
      padding-right: $column-gutter !important;
      position: relative;

      img {
        border-radius: $angle-member-radius;
        box-shadow: none;
        height: $angle-member-width;
        margin: 0;
        overflow: hidden;
        padding: $angle-member-inner-padding;
        position: absolute;
        width: $angle-member-width;
        z-index: 1;
      }

      input {
        border: $angle-member-border;
        border-radius: $angle-member-radius;
        box-sizing: border-box;
        color: $body-font-color;
        font-size: $h2-font-size;
        font-weight: $font-weight-normal;
        height: $angle-member-width;
        padding-bottom: 0;
        padding-left: $angle-member-width * 1.2 + $angle-member-inner-padding;
        padding-right: $super-number-arrow-size * 1.2;
        padding-top: 0;
        position: relative;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      .remove {
        @include button-icon(close);
        @include single-transition(background-color, 100ms, linear);

        border: $angle-member-border;
        border-radius: $global-rounded;
        display: none;
        position: absolute;
        right: $column-gutter / 2;
        top: -$super-number-arrow-size / 2;
        z-index: 1;

        &:before {
          line-height: $super-number-arrow-size;
          width: $super-number-arrow-size;
        }

        &:hover {
          background-color: $charcoal;
          color: $white;
        }
      }

      &:hover .remove {
        display: block;
      }
    }
  }

  .add {
    float: left;
    line-height: $angle-member-width;
    position: relative;
    width: auto;

    button {
      @include button-icon(plus);

      background-color: $angle-add-member-button-color;
      border-color: darken($angle-add-member-button-color, 5%);
      color: $white;

      &:before {
        line-height: $angle-add-member-button-size;
        width: $angle-add-member-button-size;
      }
    }

    &.dropdown {
      @extend %dropdown-over;
      @include dropdown-with-search;

      .input {
        .progress-indicator {
          height: $angle-add-member-search-icon-size;
          width: $angle-add-member-search-icon-size;

          i {
            color: $angle-add-member-search-icon-color;
            line-height: $angle-add-member-button-size;
          }
        }

        input {
          height: $angle-add-member-button-size;
          margin: $angle-member-inner-padding * 2 0;
          padding-left: $angle-add-member-avatar-size * 1.5;
        }
      }

      .team-members {
        ul > li {
          line-height: $angle-add-member-avatar-size;
          white-space: nowrap;

          img {
            @include detached-border($color: $global-section-border-color);

            display: inline;
            height: $angle-add-member-avatar-size;
            margin-right: $column-gutter / 4;
            width: $angle-add-member-avatar-size;
          }

          .name {
            display: inline;
            margin-right: $angle-add-member-avatar-size;
          }
        }
      }
    }
  }
}
