.team .project-list-item {
  @include single-transition(background-color, 100ms, linear);
  @extend %grid-row;

  border-bottom: 1px solid $global-section-border-color;
  cursor: pointer;
  display: table;
  padding: $column-gutter / 4 0;

  > div {
    display: table-cell;
    float: none !important;
    vertical-align: middle;
  }

  > .priority {
    @extend %grid-column-1;

    .dropdown > button {
      margin: 0 auto;
    }
  }

  > .details {
    @extend %grid-column-4;

    font-size: 16px;
    font-weight: $font-weight-bold;

    small {
      color: $small-font-color;
      display: block;
      line-height: 150%;
    }
  }

  > .members {
    @extend %grid-column-4;
  }

  > .progress {
    @extend %grid-column-3;

    padding: 0 $column-gutter;

    .details {
      @extend %grid-row;

      font-size: $h5-font-size;
      margin-top: $column-gutter / 4;

      .delivered,
      .target {
        @extend %grid-column-6;

        color: darken($info-color, 25%);
        font-size: $small-font-size;
        padding: 0 !important;
      }

      .delivered {
        text-align: left;
      }

      .target {
        text-align: right;
      }

      .count {
        font-weight: $font-weight-bold;
        margin-right: $column-gutter / 4;
      }

      .label {
        text-transform: uppercase;
      }
    }

    &.no-target {
      .target {
        color: $info-color;
      }
    }
  }

  &:hover {
    background-color: lighten($global-section-border-color, 6%);
  }
}
