$actions-height: rem-calc(90);

.footer.actions {
  float: left;
  height: $actions-height;
  line-height: $actions-height;
  margin-bottom: - $actions-height;

  a {
    @extend %button-primary;
  }

  &.with-confirm {
    background-color: #1082e4;
    color: $white;
    text-align: right;

    > span {
      float: left;
    }
  }

  .primary {
    text-align: right;
  }

  .primary,
  .additional {
    @extend %grid-column-small-5;
    @extend %grid-column-medium-6;
  }
}
