<article>
  <div class="analyst">
    {{as-avatar person=model}}
    <span>{{model.name}}</span>
  </div>

  <div class="stats">
    <span>{{model.deliveryPerformance.unusedAdvisorsCount}} Unused Advisors</span>
  </div>
</article>
