.dashboard .widget.interactions {
  article {
    .avatar-container {
      @extend %grid-column-small-2;
      @extend %grid-column-medium-2;

      img {
        max-width: none;
      }
    }

    .time {
      @extend %grid-column-small-3;
      @extend %grid-column-medium-3;

      text-align: right;
    }

    .title {
      @extend %grid-column-small-5;
      @extend %grid-column-medium-6;
    }

    .checklist-status {
      @extend %grid-column-small-2;
      @extend %grid-column-medium-1;

      padding-left: 0 !important;
    }
  }
}
