@mixin alert-box-background($color: $aluminum) {
  background-color: $color;
  border-color: lighten($color, 15%);
  border-radius: $global-radius / 2;
  color: $white;
}

.alert-box {
  &.info {
    @include alert-box-background;
  }

  &.success {
    @include alert-box-background($success-color);
  }

  &.warning {
    @include alert-box-background($warning-color);
  }

  &.alert {
    @include alert-box-background($alert-color);
  }

  .close {
    color: transparentize($white, .6);

    &:hover {
      color: $white;
    }
  }
}
