.side-panel {
  @include single-transition(background-color, 150ms, linear);

  bottom: 0;
  left: 0;
  overflow-y: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;

  > * {
    pointer-events: all;
  }

  .panel {
    @include single-transition(opacity, 150ms, linear);

    position: relative;
    float: right;
    width: 70%;
    height: 100%;
    background-color: $quick-jump-results-background-color;

    section {
      @extend %grid-row;

      padding-top: $column-gutter / 2;
      padding-bottom: $column-gutter / 2;
    }
  }

  &.active {
    background-color: $overlay-background-color;
    pointer-events: all;
  }
}
