.side-panel {
  @include single-transition(background-color, 150ms, linear);

  bottom: 0;
  left: 0;
  overflow:hidden;
  position: fixed;
  right: 0;
  top: 0;

  .panel {
    @include single-transition(opacity, 150ms, linear);

    background-color: $quick-jump-results-background-color;
    float: right;
    height: 100%;
    overflow-y: auto;
    position: relative;
    width: 70%;
    right: -70%;

    section {
      @extend %grid-row;
    }
  }

  &.active {
    background-color: $overlay-background-color;
  }
}
