.side-panel {
  .panel {
    position: fixed;
    right: -40%;
    top: 0;
    bottom: 0;
    width: 40%;
    background-color: red;
    z-index: 9999;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
  }
}
