.calendar {
  border: 1px solid $global-section-border-color;
  border-radius: $global-radius;

  ul {
    line-height: $base-line-height;
  }

  header,
  .time-slots {
    color: $small-font-color;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  header .days > ul > li,
  > div .days > li {
    float: left;
  }

  header,
  > div {
    > * {
      padding: 0 !important;
    }
  }

  header {
    @extend %grid-row;

    background-color: $info-color;
    border-bottom: 1px solid $global-section-border-color;
    padding: 0 !important;

    .time-zone > div,
    .days > ul > li {
      padding: $column-gutter / 4;
    }

    .time-zone {
      @extend %grid-column-1;
    }

    .days {
      @extend %grid-column-11;

      > ul {
        @extend %grid-row;
      }
    }
  }

  > div {
    @extend %grid-row;

    max-height: 400px;
    overflow: auto;

    .time-slots {
      @extend %grid-column-1;

      > li {
        &:first-child {
          color: transparent;
        }
      }
    }

    .days {
      @extend %grid-column-11;

      .times > li {
        &:first-child .calendar-time {
          border-top: 0;
        }

        &:nth-child(even) .calendar-time {
          border-top-color: lighten($global-section-border-color, 3%);
        }
      }

      .calendar-time {
        border: 1px solid $global-section-border-color;
        border-bottom: 0;
        border-right: 0;
        border-top-color: darken($global-section-border-color, 2%);
      }
    }
  }
}
