$calendar-border-color: #e0e0e0;
$calendar-header-background-color: #ededed;
$calendar-header-text-color: #757575;
$calendar-time-slot-height: 30px;

.calendar {
  border: 1px solid $calendar-border-color;
  border-radius: $global-radius;

  ul {
    line-height: $base-line-height;
  }

  header {
    @extend %grid-row;

    background-color: $calendar-header-background-color;
    border-bottom: 1px solid $calendar-border-color;
    color: $calendar-header-text-color;
    font-weight: $font-weight-bold;
    text-align: center;
    text-transform: uppercase;

    &,
    .days {
      padding: 0 !important;
    }

    .time-zone,
    .days li {
      padding: $column-gutter / 4;
    }

    .time-zone {
      @extend %grid-column-1;
    }

    .days {
      @extend %grid-column-11;

      ul {
        @extend %grid-row;

        > li {
          float: left;
          width: (100% / 7) !important;
        }
      }
    }
  }

  > div {
    max-height: 300px;
    overflow: auto;

    .times {
      @extend %grid-column-1;

      color: $calendar-header-text-color;
      font-weight: $font-weight-bold;
      margin-top: - ($calendar-time-slot-height / 2);
      padding: 0 !important;
      text-align: center;
      text-transform: uppercase;

      > li {
        height: $calendar-time-slot-height * 2;

        &:first-child {
          color: transparent;
        }
      }
    }

    .days {
      @extend %grid-column-11;

      padding: 0 !important;

      > li {
        float: left;
        width: (100% / 7) !important;
      }

      .dates > li {
        border: 1px solid lighten($calendar-border-color, 3%);
        border-bottom: 0;
        border-right: 0;
        border-top-color: darken($calendar-border-color, 2%);
        height: $calendar-time-slot-height;

        &:first-child {
          border-top: 0;
        }

        &:nth-child(even) {
          border-top-color: lighten($calendar-border-color, 6%);
        }
      }
    }
  }
}
