.checklist-status {
  color: $ui-checklist-incomplete-color;
  text-align: right;

  .count {
    background-color: $ui-checklist-incomplete-color;
  }

  i {
    @include icon('check');

    background-color: $ui-checklist-complete-color;
  }

  .count,
  i {
    border-radius: $global-rounded;
    color: $white;
    display: inline-block;
    font-size: $small-font-size;
    height: $ui-checklist-label-width;
    line-height: $ui-checklist-label-width;
    margin: 0 $column-gutter / 4;
    text-align: center;
    width: $ui-checklist-label-width;
  }

  &.complete {
    color: $ui-checklist-complete-color;
  }
}
