$checklist-status-label-width: 16px;

.checklist-status {
  color: $alert-color;
  text-align: right;

  .count {
    background-color: $alert-color;
  }

  i {
    @include icon('check');

    background-color: $success-color;
  }

  .count,
  i {
    border-radius: $global-rounded;
    color: $white;
    display: inline-block;
    font-size: $small-font-size;
    height: $checklist-status-label-width;
    line-height: $checklist-status-label-width;
    margin: 0 $column-gutter / 4;
    text-align: center;
    width: $checklist-status-label-width;
  }

  &.complete {
    color: $success-color;
  }
}
