$dropdown-background: $white;
$dropdown-border: #cfd8dc;
$dropdown-zindex: 100;
$dropdown-link-color: #111111;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-background: #607d8b;
$dropdown-link-active-color: $dropdown-link-color;
$dropdown-link-active-background: lighten($dropdown-link-hover-background, 50%);
$dropdown-link-disabled-color: #fafafa;

@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;
  content: '';
  position: absolute;

  $width: nth($size, 1);
  $height: nth($size, length($size));

  $foreground-color: nth($color, 1);
  $background-color: if(length($color) == 2, nth($color, 2), transparent);

  @if ($direction == top) or ($direction == bottom) or ($direction == right) or ($direction == left) {

    $width: $width / 2;
    $height: if(length($size) > 1, $height, $height/2);

    @if $direction == bottom {
      border-bottom: $height solid $foreground-color;
      border-left: $width solid $background-color;
      border-right: $width solid $background-color;
      top: - $size / 2;
      left: $size;

    } @else if $direction == right {
      border-bottom: $width solid $background-color;
      border-left: $height solid $foreground-color;
      border-top: $width solid $background-color;

    } @else if $direction == top {
      border-left: $width solid $background-color;
      border-right: $width solid $background-color;
      border-top: $height solid $foreground-color;
      bottom: - $size / 2;
      left: $size;

    } @else if $direction == left {
      border-bottom: $width solid $background-color;
      border-right: $height solid $foreground-color;
      border-top: $width solid $background-color;
    }
  }
}

.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  background-clip: padding-box;
  background: $dropdown-background;
  border-radius: $global-radius / 2;
  border: 1px solid $dropdown-border;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.175);
  display: none;
  float: left;
  font-size: $base-font-size;
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 160px;
  padding: $global-radius / 2 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: $dropdown-zindex;

  .divider {
    border-bottom: 1px solid $dropdown-border;
    margin: $base-spacing / 4;
  }

  > li > a {
    clear: both;
    color: $dropdown-link-color;
    cursor: pointer;
    display: block;
    font-weight: $font-weight-normal;
    line-height: $base-line-height;
    padding: 0 $base-spacing;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: $dropdown-link-hover-background;
      color: $dropdown-link-hover-color;
      text-decoration: none;
    }
  }

  > .active > a {
    &,
    &:hover,
    &:focus {
      background-color: $dropdown-link-active-background;
      color: $dropdown-link-active-color;
      outline: 0;
      text-decoration: none;
    }
  }

  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-disabled-color;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      cursor: not-allowed;
      text-decoration: none;
    }
  }

  &.over {
    top: 0;

    &:before,
    &:after {
      display: none;
    }
  }

  &.right {
    left: auto;
    right: 0;
  }

  &.left {
    left: 0;
    right: auto;
  }

  &.top {
    bottom: 100%;
    top: auto;

    &:before {
      @include triangle(12px, $white, top);
    }
  }

  &:not(.top):not(.over):not(.left):not(.right) {
    &:before {
      @include triangle(12px, $white, bottom);
    }
  }
}

.dropdown {
  .open {
    > .dropdown-menu {
      display: block;
    }

    > a {
      outline: 0;
    }
  }

  &.inline {
    @extend %dropdown-inline;
  }

  &.inverted {
    @extend %dropdown-inverted;
  }
}

%dropdown-inline {
  > .dropdown-menu {
    line-height: 0;
    min-width: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;

    > li {
      display: inline-block;
    }
  }
}

%dropdown-inverted {
  > .dropdown-menu {
    background: $dropdown-link-hover-background;
    color: $dropdown-link-hover-color;

    > li:hover {
      background-color: $dropdown-background;
      color: $dropdown-link-color;
    }
  }
}
