.email-correspondence {
  tr.selected {
    background-color: $base;

    &:hover {
      background-color: $base;
    }
  }

  .sender {
    text-align: center;
  }

  .pagination {
    margin-top: 10px;
  }

  .sent-at {
    white-space: nowrap;
  }
}
