$list-item-padding: rem-calc(10);

.expandable-list {
  .header {
    border-bottom: 1px solid $global-section-border-color;
    padding: $list-item-padding 0;

    span {
      cursor: pointer;
    }

    i {
      @include icon(plus-circle);

      margin-right: 2px;
    }
  }
}
