$list-item-padding: rem-calc(10);

.expandable-list {
  .header {
    border-bottom: 1px solid $global-section-border-color;
    padding: $list-item-padding 0;

    span {
      cursor: pointer;
    }

    i {
      @include icon(plus-circle);

      margin-right: 2px;

      &.expanded {
        @include icon(minus-circle);
      }
    }
  }

  table {
    margin-top: $list-item-padding;
    width: 100%;
  }

  tr {
    &:hover {
      background-color: lighten($global-section-border-color, 6%);
      cursor: pointer;
    }

    td {
      color: $small-font-color;
      padding: $list-item-padding 0;

      &:last-child {
        text-align: right;
      }
    }
  }
}
