$page-placeholder-top-margin: 10%;
$page-placeholder-icon-color: $small-font-color;
$page-placeholder-icon-size: $h1-font-size * 2;
$page-placeholder-icon-padding: $column-gutter;

.page-placeholder {
  @extend %grid-row;

  > div {
    @extend %grid-column-small-12;
    @extend %grid-column-medium-8;
    @extend %grid-column-large-6;
    @extend %grid-column-centered;

    margin-top: $page-placeholder-top-margin;
    text-align: center;
  }

  span {
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;
  }

  i {
    @include icon(lightbulb-o);
    @include single-transition(background-color);

    border: 2px solid $page-placeholder-icon-color;
    border-radius: $global-rounded;
    color: $page-placeholder-icon-color;
    height: $page-placeholder-icon-size + $page-placeholder-icon-padding * 2;
    padding: $page-placeholder-icon-padding 0;
    width: $page-placeholder-icon-size + $page-placeholder-icon-padding * 2;

    &:before {
      font-size: $page-placeholder-icon-size;
    }

    &:hover {
      background-color: $page-placeholder-icon-color;
      color: $white;
    }
  }

  &.projects i {
    @include icon(folder);
  }

  &.dashboard i {
    @include icon(desktop);
  }

  &.performance i {
    @include icon(bar-chart);
  }

  .redirect-link {
    @extend %button;
  }
}
