$page-placeholder-top-margin: $column-gutter * 2;
$page-placeholder-icon-color: $small-font-color;
$page-placeholder-icon-size: $h1-font-size * 2;

.page-placeholder {
  @extend %grid-row;

  > div {
    @extend %grid-column-small-12;
    @extend %grid-column-medium-8-centered;
    @extend %grid-column-large-6-centered;

    margin-top: $page-placeholder-top-margin;
    text-align: center;
  }

  i {
    @include icon(lightbulb-o);
    @include single-transition(background-color);

    color: $page-placeholder-icon-color;
    height: $page-placeholder-icon-size + $column-gutter * 2;
    padding: $column-gutter 0;
    width: $page-placeholder-icon-size + $column-gutter * 2;

    &:before {
      font-size: $page-placeholder-icon-size;
    }
  }

  &.performance i {
    @include icon(bar-chart);
  }

  .redirect {
    @extend %button-primary;

    margin-top: $column-gutter / 2;
  }
}
