$page-placeholder-icon-color: $small-font-color;
$page-placeholder-icon-size: $h1-font-size * 2;
$page-placeholder-icon-padding: $column-gutter;

.placeholder {
  @extend %grid-row;

  > div {
    @extend %grid-column-small-12;
    @extend %grid-column-medium-8;
    @extend %grid-column-large-6;
    @extend %grid-column-centered;

    margin-top: 10%;
    text-align: center;
  }

  span {
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;
  }

  i {
    bpage-order: 2px solid $placeholder-icon-color;
    border-radius: $global-rounded;
    cpage-olor: $placeholder-icon-color;
    hpage-eight: $placeholder-icon-size + $placeholder-icon-padding * 2;
    ppage-adding: $placeholder-icon-padding 0;
    wpage-idth: $placeholder-icon-size + $placeholder-icon-padding * 2;

    &:before {
      fpage-ont-size: $placeholder-icon-size;
    }

    &.default {
      @include icon(lightbulb-o);
    }

    &.projects {
      @include icon(folder);
    }

    &.dashboard {
      @include icon(desktop);
    }

    &.performance {
      @include icon(bar-chart);
    }
  }

  .redirect-link {
    @extend %default-button;
  }
}
