$priority-select-size: 14px;

@mixin priority-select-color($color: $info-color) {
  @include detached-border(
    $color: scale-color($color, $lightness: $alert-function-factor),
    $radius: $global-radius / 2
  );

  background-color: $color;
}

.priority-select {
  button {
    border: 0;
    display: block;
    height: $priority-select-size;
    margin: $column-gutter / 2;
    width: $priority-select-size;
  }

  .high > button {
    @include priority-select-color($alert-color);
  }

  .medium > button {
    @include priority-select-color($warning-color);
  }

  .low > button {
    @include priority-select-color($info-color);
  }

  .dropdown {
    @extend %dropdown-inline;
    @extend %dropdown-inverted;
    @extend %dropdown-over;

    > div {
      padding: 1px;
    }
  }
}
