$list-item-padding: rem-calc(10);
$project-history-red: #e08989;
$project-history-amber: #f4d95d;
$project-history-green: #8ab67d;
$project-history-dark-green: #609489;
$project-history-orange: #e79a77;
$project-history-blue: #8ba6da;
$project-history-grey: #999999;
$project-history-brown: #c9a877;
$project-history-baby-blue: #54acb0;

.project-history {
  .header {
    border-bottom: 1px solid $global-section-border-color;
    padding: $list-item-padding 0;

    span {
      cursor: pointer;
    }
  }

  ul {
    margin-top: $list-item-padding;
  }

  li {
    @extend %grid-row;

    padding: $list-item-padding 0;

    .project-name {
      @extend %grid-column-6;

      padding-left: 0;
    }

    .terms-accepted-at {
      @extend %grid-column-3;
    }

    .outreach-status {
      @extend %grid-column-1;

      text-align: center;

      i {
        @include icon('circle');

        &.outreach-cleared,
        &.found {
          color: $project-history-red;
        }

        &.contacted {
          color: $project-history-amber;
        }

        &.sent-terms {
          color: $project-history-blue;
        }

        &.available-to-client {
          color: $project-history-green;
        }

        &.used-by-client {
          color: $project-history-dark-green;
        }

        &.not-right {
          color: $project-history-grey;
        }

        &.partial-terms {
          color: $project-history-orange;
        }

        &.outreach-forbidden,
        &.do-not-call {
          color: $project-history-grey;
        }

        &.not-on-cid {
          color: $project-history-brown;
        }

        &.some-companies-on-cid {
          color: $project-history-brown;
        }

        &.all-companies-on-cid {
          color: $project-history-baby-blue;
        }
      }
    }

    .primary-contact {
      @extend %grid-column-2;

      padding-right: 0;
      text-align: right;
    }

    .project-name,
    .terms-accepted-at,
    .outreach-status {
      line-height: $avatar-size;
      vertical-align: middle;
    }

    .avatar {
      margin: 0;
    }
  }
}
