$profile-avatar-container-size: $avatar-size;

.profile {
  @include flip-panel;

  header,
  footer {
    @include flip-panel-icons;

    padding: 0 !important;

  }

  .front,
  .back {
    > header {
      h1,
      div {
        line-height: flip-panel-settings(header-height) !important;
        padding: 0 $column-gutter / 2 !important;
      }
    }
  }

  .description {
    .avatar-container {
      float: left;
      margin-right: $column-gutter / 2;
      width: $profile-avatar-container-size;
    }

    .details {
      overflow: hidden;

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .name {
        display: block;
        font-weight: $font-weight-extrabold;
        padding-top: $column-gutter / 4;
      }
    }
  }

  .main-contact,
  .contacts {
    background-color: lighten($global-section-border-color, 5%);

    > ul > li {
      i,
      span {
        line-height: $base-line-height * 1.5 !important;
      }

      i {
        color: $small-font-color;
        float: left;
        margin-right: $column-gutter / 2;
        text-align: center;
        width: $profile-avatar-container-size;

        &:before {
          background-color: $white;
          border-radius: $global-rounded;
          border: 1px solid $global-section-border-color;
          display: inline-block;
          line-height: $button-icon-size;
          width: $button-icon-size;
        }
      }

      span {
        white-space: nowrap;
      }
    }

    .email i {
      @include icon(envelope);
    }

    .phone-number i {
      @include icon(phone);

      &.mobile {
        @include icon(mobile);
      }

      &.office {
        @include icon(building-o);
      }

      &.home {
        @include icon(home);
      }

      &.switchboard {
        @include icon(random);
      }
    }
  }

  .back {
    > header {
      background-color: $white;
    }

    .content {
      background-color: lighten($global-section-border-color, 5%);
    }

    .contacts > ul > li {
      float: left;
      width: 100%;

      &:not(:last-child) {
        border-bottom: solid 1px $global-section-border-color;
      }
    }
  }
}
