$priority-dot-size: 8px;

article.project-list-item {
  @extend %grid-row;
  @extend %vertical-align;

  cursor: pointer;
  padding: $column-gutter / 4 0;

  > .details {
    @extend %grid-column-small-8;
    @extend %grid-column-medium-4;

    font-size: $h4-font-size;

    small {
      color: $small-font-color;
      display: block;
      line-height: 150%;
    }

    .name {
      font-weight: $font-weight-bold;
    }

    .codename {
      color: $small-font-color;
    }

    .priority {
      min-height: $base-font-size * $base-line-height;
      float: left;

      i {
        border-radius: $global-rounded;
        display: inline-block;
        height: $priority-dot-size;
        margin-right: $column-gutter / 2;
        width: $priority-dot-size;
      }

      .high {
        background-color: $alert-color;
      }

      .medium {
        background-color: $warning-color;
      }

      .low {
        background-color: $info-color;
      }
    }
  }

  > .members {
    @extend %grid-column-small-4;
    @extend %grid-column-medium-4;

    .avatar {
      &.lead {
        @include detached-border($color: lighten($primary-color, 30%));
      }
    }

    @media #{$small-only} {
      .avatar:not(&.lead) {
        display: none;
      }
    }
  }

  > .stats {
    @extend %grid-column-medium-4;

    .requested,
    .upcoming,
    .delivered {
      @extend %grid-column-medium-4;

      color: $small-font-color;
      font-size: $small-font-size;
      text-align: right;
      text-transform: uppercase;
    }

    .active {
      font-weight: $font-weight-extrabold;
    }

    @media #{$small-only} {
      display: none;
    }
  }
}
