.profile {
  @include flip-panel;

  header,
  footer {
    @include flip-panel-icons;

    padding: 0 !important;

  }

  .front,
  .back {
    > header {
      h1,
      div {
        line-height: flip-panel-settings(header-height) !important;
        padding: 0 $column-gutter / 2 !important;
      }
    }
  }

  .description {
    .avatar-container {
      @extend %grid-column-large-2;
      @extend %grid-column-small-3;

      text-align: right;
    }

    .details {
      @extend %grid-column-large-10;
      @extend %grid-column-small-9;

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .name {
        display: inline-block;
        font-weight: $font-weight-extrabold;
        padding: $column-gutter / 4 0;
      }
    }
  }

  .main-contact,
  .contacts {
    > ul > li {

      &.primary {
        font-weight: $font-weight-extrabold;
      }

      i {
        @extend %grid-column-large-2;
        @extend %grid-column-small-3;

        color: $small-font-color;
        text-align: right;
      }

      span {
        @extend %grid-column-large-10;
        @extend %grid-column-small-9;
      }

      i,
      span {
        line-height: $base-line-height * 1.5 !important;
      }
    }

    .email i {
      @include icon(envelope);
    }

    .phone-number i {
      @include icon(phone);

      &.mobile {
        @include icon(mobile);
      }

      &.office {
        @include icon(building-o);
      }

      &.home {
        @include icon(home);
      }

      &.switchboard {
        @include icon(random);
      }
    }
  }

  .back {
    > header {
      background-color: $white;
    }

    .content {
      background-color: lighten($global-section-border-color, 5%);
    }

    .contacts > ul > li {
      float: left;
      width: 100%;

      &:not(:last-child) {
        border-bottom: solid 1px $global-section-border-color;
      }

      i {
        @extend %grid-column-large-1;
        @extend %grid-column-small-2;
      }

      span {
        @extend %grid-column-large-11;
        @extend %grid-column-small-10;
      }
    }
  }
}
