$quick-jump-results-item-height: rem-calc(50);

.quick-jump-result {
  .title,
  .details {
    line-height: $quick-jump-results-item-height;
  }

  .title {
    @extend %grid-column-small-12;
    @extend %grid-column-large-4;

    font-size: $base-font-size;
    margin: 0;
  }

  .details {
    @extend %grid-column-small-12;
    @extend %grid-column-large-8;

    color: $small-font-color;
  }
}
