.quick-jump-result-content {
  h1,
  small {
    font-size: $base-font-size;
    line-height: $quick-jump-results-item-height;
  }

  h1 {
    @extend %grid-column-4;

    margin: 0;
  }

  small {
    @extend %grid-column-8;

    color: $aluminum;
  }
}
