.sidebar {
  .user-session {
    padding: 0 $layout-sidebar-nav-padding;
    white-space: nowrap;

    .picture {
      float: left;
      margin-right: $layout-sidebar-nav-padding;

      img {
        border-radius: 50%;
        height: $layout-sidebar-nav-link-icon-width;
        width: $layout-sidebar-nav-link-icon-width;
      }
    }

    .name {
      color: $layout-sidebar-nav-link-text-color;
      margin-right: $layout-sidebar-nav-padding / 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .toggle-actions {
      display: inline-block;
      float: right;
      line-height: $layout-sidebar-footer-height;

      button {
        @include button-icon(cog);

        background-color: transparent;
        border: 0;
        color: $layout-sidebar-nav-link-text-color;
        margin-bottom: 0;
      }
    }
  }

  &.collapsed {
    .toggle-collapse {
      float: none;
      margin-bottom: 0;

      button {
        @include icon(caret-square-o-right);
      }
    }

    .user-session {
      .picture,
      .name {
        display: none;
      }

      .toggle-actions {
        display: block;
        float: none;
        text-align: center;
      }
    }
  }
}
