$super-number-height: 60px;
$super-number-arrow-color: lighten($header-font-color, 25%);
$super-number-arrow-size: 20px;
$super-number-arrow-padding: ($super-number-height - (2 * $super-number-arrow-size)) / 2;
$super-number-arrow-font-size: $h3-font-size;

.super-number {
  @extend %super-number-input;
}

%super-number-input {
  a.increment, a.decrement {
    background: none;
    border-radius: $global-radius;
    color: $super-number-arrow-color;
    font-size: $super-number-arrow-font-size;
    height: $super-number-arrow-size;
    left: auto;
    line-height: $super-number-arrow-size;
    right: $super-number-arrow-padding;
    width: $super-number-arrow-size;

    &:hover {
      background: lighten($super-number-arrow-color, 25%);
      color: $white;
    }
  }

  a.increment {
    top: $super-number-arrow-padding;
  }

  a.decrement {
    top: $super-number-arrow-size + $super-number-arrow-padding;
  }
}