$super-number-height: 60px;
$super-number-arrow-color: lighten($header-font-color, 25%);
$super-number-arrow-size: 20px;
$super-number-arrow-padding: ($super-number-height - (2 * $super-number-arrow-size)) / 2;

.super-number {
  .increment,
  .decrement {
    background: none;
    border-radius: $global-radius;
    color: $super-number-arrow-color;
    font-size: $h3-font-size;
    height: $super-number-arrow-size;
    left: auto;
    right: $super-number-arrow-padding;
    width: $super-number-arrow-size;

    &:hover {
      background: lighten($super-number-arrow-color, 25%);
      color: $white;
    }

    &:before {
      line-height: $super-number-arrow-size;
    }
  }

  .increment {
    @include icon(caret-up);

    top: $super-number-arrow-padding;
  }

  .decrement {
    @include icon(caret-down);

    top: $super-number-arrow-size + $super-number-arrow-padding;
  }

  input {
    font-family: $header-font-family;
  }
}
