.notifications {
  &.fixed {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  @each $type, $palette in $notification-colors {
    .alert-#{$type} {
      @include notification(
        $type: $palette,
        $content-selector: '> .messenger-message-inner',
        $close-selector: '> .close',
        $is-closing-class: 'messenger-hidden'
      );
    }
  }
}
