{{#as-side-panel class="interaction" close="hideSidePanel" previous="previous" next="next"}}
    <section class="profiles">
      <ul>
        <li>
          {{as-profile
            person=model
            title="Unused Advisor"
            class="advisor"}}
        </li>
      </ul>
    </section>
{{/as-side-panel}}
