{{#as-progress-bar class="current" ratio=progress}}
  {{tool-tipster class="tip" title=currentMonthCreditCount}}
{{/as-progress-bar}}

{{tool-tipster class="target" title=monthlyTarget}}
<div class="pace"></div>
