<ul>
  {{#each interaction in this itemController="dashboard.interaction"}}
    <li>
      {{#link-to "dashboard.interaction" interaction.id tagName="article"}}
        <div class="title">
          <span class="advisor-name">{{interaction.advisor.name}}</span>
          <small class="project-name">{{interaction.project.name}}</small>
        </div>

        <div class="time">{{ago interaction.scheduledCallTime}}</div>

        {{as-checklist-status items=checklistItems}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
