{{#link-to "dashboard.schedule-interaction" interaction.id tagName="article"}}
  <div class="title">
    <span>{{interaction.advisor.name}}</span>
    <small>{{interaction.project.name}}</small>
  </div>

  <div class="time">
    <span>Requested {{ago interaction.requestedAt}}</span>
  </div>

  {{as-checklist-status items=interaction.checklistItems showTooltip=true}}
{{/link-to}}
