$interaction-header-title-height: rem-calc(120);
$interaction-checklist-header-height: $column-gutter + $h5-font-size;

$interaction-header-height:
  $interaction-header-title-height +
  $column-gutter * 2 +
  $side-panel-actions-height;

.side-panel.interaction {
  header {
    @extend %grid-row;

    padding: $column-gutter $column-gutter / 2;
    width: 100%;

    .date-time {
      @extend %grid-column-small-4;
      @extend %grid-column-medium-3;
      @extend %grid-column-large-2;

      span {
        background-color: $primary-color;
        color: $white;
        display: block;
        line-height: $interaction-header-title-height / 2;
        text-align: center;
      }

      .date {
        @include side-radius(top, $global-radius / 2);

        background-color: lighten($primary-color, 10%);
      }

      .time {
        @include side-radius(bottom, $global-radius / 2);

        margin-top: 1px;
      }
    }

    > .content {
      @extend %grid-column-small-8;
      @extend %grid-column-medium-9;
      @extend %grid-column-large-10;

      h1 {
        border-bottom: solid 1px $global-section-border-color;
        line-height: $interaction-header-title-height / 2;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        small a {
          color: $small-font-color;
        }
      }

      a {
        line-height: $interaction-header-title-height / 2;
      }
    }
  }

  .profile header {
    @extend %grid-row;

    padding: 0 $column-gutter / 2;

    h1,
    .call-time {
      @extend %grid-column-6;

      line-height: 3rem;
      margin: 0;
      padding: 0 !important;
    }

    .call-time {
      color: $primary-color;
      font-size: $h5-font-size;
      text-align: right;

      > div {
        display: inline-block;
      }

      i {
        @include icon('clock-o');
      }
    }
  }

  .profiles {
    @extend %grid-column-12;

    > ul {
      @media #{$large-up} {
        align-items: stretch;
        display: flex;
      }

      > li {
        @extend %grid-column-small-12;
        @extend %grid-column-medium-12;
        @extend %grid-column-large-6;

        display: flex;
        margin-bottom: $column-gutter / 2;
      }
    }
  }

  .checklist-items {
    @extend %grid-column-12;

    header {
      a {
        @extend %button-primary;

        float: right;
        margin-bottom: 0;
      }
    }

    ul {
      @extend %grid-column-12;

      padding-bottom: $column-gutter / 2;

      li {
        @extend %grid-row;

        border-top: 1px solid $global-section-border-color;
        padding: $column-gutter / 2 0;

        &:after {
          color: $alert-color;
          content: '•';
          display: inline;
          margin-left: $column-gutter / 2;
        }

        &.completed:after {
          color: $success-color;
        }
      }
    }

    .checklist-status {
      color: $body-font-color;
      display: inline-block;
      font-weight: $font-weight-bold;
      line-height: $interaction-checklist-header-height;
    }
  }
}
