.side-panel.interaction.schedule-interaction {
  header > .content {
    @extend %grid-column-medium-12;

    h1 {
      line-height: $header-line-height;
    }
  }

  .scheduling {
    @extend %grid-column-12;

    padding: $column-gutter / 2 $column-gutter !important;

    .calendar {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .calendar-occurrence {
      &.alpha-call {
        background-color: $alert-color;
        border-color: darken($alert-color, 5%);
        opacity: .5;
      }
    }
  }

  .form {
    form {
      @include form();

      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: none;

      #{$form-field-selector} {
        @include form-item-small();
      }
    }
  }
}
