.side-panel.interaction.schedule-interaction {
  header {
    @extend %grid-row;

    padding: $column-gutter $column-gutter / 2;
    width: 100%;

    > .content {
      @extend %grid-column-medium-12;

      h1 {
        border-bottom: solid 1px $global-section-border-color;
        line-height: $interaction-header-title-height / 2;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        small a {
          color: $small-font-color;
        }
      }

      a {
        line-height: $interaction-header-title-height / 2;
      }
    }
  }
}
