.side-panel.unused-advisor {
  @include side-panel($scaled: true);

  .main > .content > header {
    @extend %grid-row;

    padding: $column-gutter $column-gutter / 2;
    width: 100%;

    > .content {
      @extend %grid-column-12;

      h1 {
        line-height: $interaction-header-title-height / 2;
        margin: 0;

        small {
          a {
            color: $small-font-color;
          }
        }
      }

      > span {
        display: block;
        line-height: $interaction-header-title-height / 2;

        > span {
          color: $secondary-color;
        }
      }
    }
  }

  .drawer {
    .email-composer, .form, form {
      height: 100%;
    }

    .form form {
      padding: $column-gutter !important;
      overflow: auto;
      
      .form-fieldset {
        padding: 0;
      }
    }
  }

  .profile {
    padding: 0 $column-gutter / 2;

    .front {
      @extend %panel-widget;
    }
  }

  .project-history {
    padding: $column-gutter;
  }
}
