.dashboard .widget {
  border: 1px solid #eaeaea;
  border-radius: $global-radius / 2;
  margin: $column-gutter / 2;
  min-height: rem-calc(350);

  header {
    background-color: #1082e4;
    border-radius: $global-radius / 2 $global-radius / 2 0 0;
    padding: $column-gutter / 2;

    h1 {
      color: #ffffff;
      font-size: $base-font-size;
      letter-spacing: inherit;
    }
  }
}
