html,
body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  margin: 10px 0;
}

section {
  clear: both;
  margin: 0 10px 10px;
  overflow: auto;

  h1 {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    margin: 10px 0;
    padding: 10px;
  }
}

pre {
  margin: 0;
}

.output,
.code {
  float: left;
  font-size: 14px;
  width: 50%;
}

.vertical-demo,
.no-auto-hide-demo {
  p {
    margin: 0;
    padding: 10px;

    &:nth-child(odd) {
      background: #ededed;
    }
  }
}

.horizontal-demo .tse-scrollable {
  height: 110px;

  .scrollable-content {
    display: inline-block;
    height: 110px;
    white-space: nowrap;
  }

  ul {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding-left: 0;

    > li {
      background: #666666;
      color: #ffffff;
      display: inline-block;
      font-size: 24px;
      height: 100px;
      line-height: 100px;
      margin-right: 10px;
      text-align: center;
      width: 100px;
    }
  }
}

.output {
  padding-right: 10px;
}

.is-short {
  height: 200px;
}

.is-tall {
  height: 400px;
}

.double-scroll-container {
  height: 400px;
  width: 300px;

  .scrollable-content {
    display:  inline-block;
  }
  .wide-content {
    width: 500px;
  }

}
