@mixin project-priority($color: $info-color) {
  @include detached-border(
    $color: scale-color($color, $lightness: $alert-function-factor),
    $radius: $global-radius / 2
  );

  background-color: $color;
}

%project-priority {
  button {
    border: 0;
    display: block;
    height: 12px;
    margin: $column-gutter / 3;
    width: 12px;
  }

  .high > button {
    @include project-priority($alert-color);
  }

  .medium > button {
    @include project-priority($warning-color);
  }

  .low > button {
    @include project-priority($info-color);
  }
}