<header>
  <div class="priority-select-label">
    <span>Filter by:</span>
  </div>

  <div class="priority-select">
    <ul>
      {{#link-to (query-params filterPriority="high") tagName="li" class="high"}}
        <button></button>
      {{/link-to}}

      {{#link-to (query-params filterPriority="medium") tagName="li" class="medium"}}
        <button></button>
      {{/link-to}}

      {{#link-to (query-params filterPriority="low") tagName="li" class="low"}}
        <button></button>
      {{/link-to}}
    </ul>
  </div>
</header>

<ul>
  {{#each project in projects itemController="whiteboards.whiteboard.project-list-item"}}
    <li>{{render "whiteboards.whiteboard.project-list-item" project.model tagName="article"}}</li>
  {{else}}
    <div class="empty-message">There are no {{filterPriority}} priority projects.</div>
  {{/each}}
</ul>
