<div class="tse-scrollbar"><div class="drag-handle {{if showHandle 'visible'}}"></div></div>
<div class="tse-scroll-content">
  <div class="tse-content scrollable-content">
    {{yield (hash 
      recalculate=(action 'recalculate')
      update=(action 'update')
    )}}
  </div>
</div>