.dashboard .widget.interactions {
  > ul {
    margin-left: 0;

    > li {
      border-bottom: 1px solid $global-section-border-color;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  article {
    @extend %grid-row;
    @include single-transition(background-color, 100ms, linear);

    cursor: pointer;
    display: table !important;

    > div {
      display: table-cell !important;
      float: none !important;
      padding: $column-gutter / 2;
      vertical-align: middle;
    }

    small {
      color: $small-font-color;
      display: block;
      font-size: $base-font-size;
    }

    .time,
    .checklist-status {
      white-space: nowrap;
    }

    .time {
      @extend %grid-column-4;

      text-align: right;
    }

    .title {
      @extend %grid-column-7;
    }

    .checklist-status {
      @extend %grid-column-1;
    }

    &:hover {
      background-color: lighten($global-section-border-color, 3%);
    }
  }

  h1,
  .other {
    color: $white;
    font-weight: $font-weight-bold;
    line-height: $widget-header-line-height;
  }

  h1 {
    display: inline-block;
    font-size: $base-font-size;
    margin: 0;
  }

  .empty-message {
    color: $small-font-color;
    line-height: $widget-min-height - $widget-header-line-height;
    text-align: center;
  }

  .other {
    float: right;
    -webkit-font-smoothing: $header-font-smoothing;
  }

  .toggle-collapse {
    @include single-transition(background-color, 150ms, linear);

    background-color: $anchor-font-color;
    border-bottom-left-radius: $global-radius / 2;
    border-bottom-right-radius: $global-radius / 2;
    cursor: pointer;
    position: relative;
    text-align: center;

    &:after {
      color: $white;
      content: '\2022';
      font-size: $small-font-size;
      letter-spacing: 2px;
      line-height: $base-line-height / 2;
    }

    &:hover {
      background-color: lighten($anchor-font-color, 10%);
    }
  }

  &.collapsed .toggle-collapse:after {
    content: '\2022 \2022 \2022';
  }
}
