.dashboard .widget.interactions {
  article {
    @extend %grid-row;
    @include single-transition(background-color, 100ms, linear);

    cursor: pointer;
    display: table !important;

    > div {
      display: table-cell !important;
      float: none !important;
      padding: $column-gutter / 2;
      vertical-align: middle;
    }

    small {
      color: $small-font-color;
      display: block;
      font-size: $base-font-size;
    }

    .time,
    .checklist-status {
      white-space: nowrap;
    }

    .time {
      @extend %grid-column-4;

      text-align: right;
    }

    .title {
      @extend %grid-column-7;
    }

    .checklist-status {
      @extend %grid-column-1;
    }

    &:hover {
      background-color: lighten($global-section-border-color, 3%);
    }
  }

  .empty-message {
    color: $small-font-color;
    line-height: $widget-min-height - $widget-header-line-height;
    text-align: center;
  }

  > ul {
    margin-left: 0;

    > li {
      border-bottom: 1px solid $global-section-border-color;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .extras {
    float: right;
    -webkit-font-smoothing: antialiased;
  }

  .filters {
    button {
      background-color: transparent;
      border-color: transparent;
      color: $white;
      margin: 0;

      i {
        @include icon('chevron-down');

        margin-left: 3px;
      }
    }
  }
}
