$performance-bar-height: rem-calc(12);
$performance-bar-margin: $column-gutter / 2;
$performance-on-target-background: linear-gradient(to right, #ffeb00, #ffc100);
$performance-on-pace-color: #4cc417;
$performance-default-color: #f62817;

.dashboard .widget.performance {
  background-color: lighten($global-section-border-color, 2%);
  min-height: 0;
  padding: $performance-bar-margin;
  position: relative;

  &.on-target .current > div {
    background: $performance-on-target-background;
  }

  &.on-pace .current > div {
    background-color: $performance-on-pace-color;
  }

  .progress-bar {
    background-color: transparent;
    border-radius: $global-radius / 2;
    height: $performance-bar-height;

    > div {
      background-color: $performance-default-color;
      position: relative;
    }
  }

  .target,
  .pace {
    position: absolute;
    top: $performance-bar-margin;
    width: calc(100% - #{$performance-bar-margin * 2});

    > div {
      background-color: transparent;
    }
  }

  .target {
    background-color: $white;

    .tip {
      background-color: $performance-default-color;
      width: 3px;
    }
  }

  .pace .tip {
    border-left: 2px dotted $performance-on-pace-color;
  }

  .tip {
    height: $performance-bar-height;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}
