$performance-bar-height: 10px;
$performance-bar-margin: $column-gutter / 2;
$performance-on-target-color: $warning-color;
$performance-on-pace-color: $success-color;
$performance-default-color: $alert-color;

.dashboard .widget.performance {
  background-color: $global-section-border-color;
  min-height: 0;
  padding: $performance-bar-margin;
  position: relative;

  &.on-target .current > div {
    background-color: $performance-on-target-color;
  }

  &.on-pace .current > div {
    background-color: $performance-on-pace-color;
  }

  .target,
  .pace,
  .current {
    background-color: transparent;
    border-radius: $global-radius / 2;
    height: $performance-bar-height;

    > div {
      background-color: $performance-default-color;
      min-width: $performance-bar-height;
      position: relative;
    }
  }

  .target,
  .pace {
    position: absolute;
    top: $performance-bar-margin;
    width: calc(100% - #{$performance-bar-margin * 2});
  }

  .target > div {
    background-color: $white;
  }

  .pace > div {
    background-color: lighten($performance-on-pace-color, 50%);
  }

  .tip {
    background-color: lighten($global-overlay-background-color, 60%);
    border-radius: $global-radius / 2;
    height: $performance-bar-height;
    position: absolute;
    right: 0;
    z-index: 1;
    visibility: hidden;
    width: $performance-bar-height;
  }
}
