.dashboard .widget.upcoming-interactions {
  article {
    @extend %grid-row;
    @include single-transition(background-color, 100ms, linear);

    cursor: pointer;
    display: table !important;

    > div {
      display: table-cell !important;
      float: none !important;
      padding: $column-gutter / 2;
      vertical-align: middle;
    }

    .time {
      @extend %grid-column-3;
    }

    .title {
      @extend %grid-column-4;

      small {
        color: $small-font-color;
        display: block;
        font-size: $base-font-size;
      }
    }

    .checklist-status {
      @extend %grid-column-5;

      color: #ff3000;
      text-align: right;

      .tick {
        @include icon('check');

        background-color: #2d9409;
      }

      .count {
        background-color: #ff3000;
      }

      .count,
      .tick {
        border-radius: 50%;
        color: #ffffff;
        display: inline-block;
        font-size: 11px;
        height: 17px;
        line-height: 17px;
        margin-left: 5px;
        text-align: center;
        width: 17px;
      }

      &.complete {
        color: #2d9409;
      }
    }

    &:hover {
      background-color: lighten($global-section-border-color, 3%);
    }
  }

  > ul {
    margin-left: 0;

    > li {
      border-bottom: 1px solid $global-section-border-color;
    }
  }

  .filters {
    float: right;
    line-height: $widget-header-line-height;

    button {
      background-color: transparent;
      border-color: transparent;
      color: $white;
      margin: 0;

      i {
        @include icon('chevron-down');

        margin-left: 3px;
      }
    }
  }
}
