.dashboard .widget.upcoming-interactions {
  .filters {
    button {
      background-color: transparent;
      border-color: transparent;
      color: $white;
      margin: 0;

      i {
        @include icon('chevron-down');

        margin-left: $column-gutter / 4;
      }
    }
  }
}
