{{#link-to "" advisor.id tagName="article"}}
  <div class="title">
    <span>{{advisor.name}}</span>
    <small>{{advisor.project.name}}</small>
  </div>

  <div class="time">
    <span>Terms sent {{ago advisor.termsSentAt}}</span>
  </div>

  <div class="actions">
    <div></div>
  </div>
{{/link-to}}
