{{#link-to "" unusedAdvisor.id tagName="article"}}
  <div class="title">
    <span>{{unusedAdvisor.name}}</span>
    <small>{{unusedAdvisor.project.name}}</small>
  </div>

  <div class="time">
    <span>Terms sent {{ago unusedAdvisor.termsSentAt}}</span>
  </div>

  <div class="actions">
    {{#tool-tipster position="left" title="Remove Unused Advisor"}}
      <div class="remove" {{action "removeUnusedAdvisor" unusedAdvisor.id}}></div>
    {{/tool-tipster}}
  </div>
{{/link-to}}
