$projects-header-height: rem-calc(40);

.whiteboards .whiteboard {
  padding: 0 $column-gutter;

  header {
    @extend %grid-row;

    background-color: $panel-bg;
    border-radius: $global-radius / 2;
    line-height: $projects-header-height;
    margin-top: $column-gutter / 2;
    padding: $column-gutter / 2 0;
    width: auto;

    .sort-by-label {
      float: left;
      padding: 0 $column-gutter;
      text-align: center;

      label {
        @include form-label();
      }
    }

    .sort-by-select {
      @include form-select($inner-wrapper: null, $inline: true);
    }
  }
}
