$projects-header-height: rem-calc(40);

.whiteboards .whiteboard {
  padding: 0 $column-gutter;

  header {
    @extend %grid-row;

    background-color: $panel-bg;
    border-radius: $global-radius / 2;
    line-height: $projects-header-height;
    margin-top: $column-gutter / 2;
    padding: $column-gutter / 2 0;
    width: auto;

    .priority-select-label {
      float: left;
      padding: 0 $column-gutter;
      text-align: center;
      line-height: $projects-header-height;

      span {
        @include form-label();
      }
    }

    .priority-select {
      margin-left: $column-gutter / 2;

      ul {
        @include clearfix;

        display: table;

        li {
          @include single-transition(background-color, 100ms, linear);

          display: table-cell;
          vertical-align: middle;
          padding: 0 $column-gutter / 2;
          border: 1px solid darken($global-section-border-color, 5%);
          border-right: 1px solid $white;

          cursor: pointer;
          height: $projects-header-height;

          &:hover, &.active {
            background-color: darken($global-section-border-color, 5%);
          }

          &:last-child {
            border: 1px solid darken($global-section-border-color, 5%);
          }
        }

        button {
          margin: 0;
          width: rem-calc(20);
          height: rem-calc(20);
        }
      }
    }
  }

  .empty-message {
    color: $small-font-color;
    font-size: $h4-font-size;
    text-align: center;
    margin: $column-gutter;
  }
}
