<div class='labs'>
  {{#if currentUser.model.developer}}
    {{#link-to 'labs.new'}}New{{/link-to}}
  {{/if}}
  <ul>
    {{#each sortedFeatures as |feature|}}
      <li>
        {{as-lab
          feature=feature
          currentUser=currentUser
          leave="destroyParticipation"
          join="createParticipation"}}
    </li>
    {{/each}}
  </ul>
</div>
