<ul class="time-slots" {{bind-attr style=timeSlotsHeaderStyle}}>
  {{#each timeSlot in headerTimeSlots}}
    <li {{bind-attr style=headerTimeSlotStyle}}>
      {{#liquid-with timeSlot.localValue as localValue use="toDown"}}
        {{moment localValue "h A"}}
      {{/liquid-with}}
    </li>
  {{/each}}
</ul>
