$h1-line-height: rem-calc(56);

section.labs .edit-lab,
section.labs .new-lab {
  margin: 0 $column-gutter;

  > header {
    margin: $column-gutter / 2 0;

    h1 {
      display: inline-block;
      line-height: $h1-line-height;
    }

    a {
      float: right;
      line-height: $h1-line-height;
    }
  }

  .form-submission-action {
    float: right;
  }
}
