.side-panel.project {
  header {
    @extend %grid-column-xlarge-10;
    @extend %grid-column-large-9;
    @extend %grid-column-medium-9;
    @extend %grid-column-small-12;


    h1 {
      @extend %heading-medium-uppercase;

      display: inline-block;
      margin: 0;
      max-width: 90%;
      padding: $column-gutter 0;

      span {
        float: left;
        max-width: 80%;
        overflow: hidden;
        padding-left: $column-gutter / 2;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      small {
        padding-left: $column-gutter / 2;
      }

      @media #{$small-only} {
        padding: 0 $column-gutter / 2;

        span {
          float: none;
          padding-left: 0;
          white-space: normal;
        }

        small {
          padding-left: 0;
        }
      }

      @media #{$medium-only} {
        max-width: 85%;

        span {
          max-width: 75%;
        }
      }
    }

    .pistachio-link i {
      @include icon(external-link);

      font-size: $base-font-size;
      margin-left: $column-gutter / 2;
      vertical-align: middle;
    }


    .stats {
      color: $small-font-color;
      font-size: $small-font-size;
      padding-bottom: $column-gutter / 2;
      text-transform: uppercase;

      li {
        display: inline-block;
      }

      .count {
        font-weight: $font-weight-bold;
        padding-left: $column-gutter / 2;
      }
    }
  }

  .priority-select {
    display: inline-block;
    margin-bottom: $priority-select-size / 2;
    vertical-align: middle;

    .dropdown > button {
      margin: 0;
    }

    @media #{$small-only} {
      display: none;
    }
  }

  .angles {
    @extend %grid-column-12;

    padding: 0 !important;

    > ul {
      padding: 0;

      > li {
        &:last-child > article {
          border-bottom: 1px solid $panel-border-color;
        }

        > article {
          @extend %grid-row;
          @include clearfix();

          background-color: $panel-bg;
          border-top: 1px solid $panel-border-color;
          padding: $column-gutter;

          h3 {
            padding-bottom: $column-gutter/ 2;
          }

          > ul {
            @extend %grid-column-10;

            position: relative;
            padding: 0;
          }
        }
      }
    }
  }
}
