@mixin side-panel-heading-width($max-width) {
  max-width: $max-width;
  padding: $column-gutter 0;

  span {
    float: left;
    max-width: $max-width;
    overflow: hidden;
    padding-left: $column-gutter / 2;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.side-panel.project {
  header {
    padding: $column-gutter;

    h1 {
      @extend %heading-medium-uppercase;

      display: inline-block;
      margin: 0;

      small {
        padding-left: $column-gutter / 2;
      }

      @media #{$small-up} {
        @include side-panel-heading-width(100%);

        padding: $column-gutter / 4 $column-gutter / 2;

        span {
          float: none;
          white-space: normal;
          padding-left: 0;
        }

        .external-link {
          float: right;
        }
      }

      @media #{$medium-up} {
        @include side-panel-heading-width(70%);
      }

      @media #{$large-up} {
        @include side-panel-heading-width(85%);
      }
    }

    .external-link i {
      @include icon(external-link);

      font-size: $base-font-size;
      margin-left: $column-gutter / 2;
      vertical-align: middle;
    }


    .stats {
      color: $small-font-color;
      font-size: $small-font-size;
      padding-top: $column-gutter / 2;
      text-transform: uppercase;

      li {
        display: inline-block;
      }

      .count {
        font-weight: $font-weight-bold;
        padding-left: $column-gutter / 2;
      }
    }
  }

  .priority-select {
    display: inline-block;
    margin-left: $column-gutter / 2;

    .dropdown > button {
      margin: 0;
    }

    @media #{$small-only} {
      display: none;
    }
  }

  .angles {
    > ul > li {
      &:last-child > article {
        border-bottom: 1px solid $panel-border-color;
      }

      > article {
        @extend %grid-row;

        @include clearfix();

        background-color: $panel-bg;
        border-top: 1px solid $panel-border-color;
        padding: $column-gutter / 2 $column-gutter;

        h1 {
          font-size: $h5-font-size;
          padding-bottom: $column-gutter/ 2;
          padding-left: $column-gutter / 2;
        }
      }
    }
  }
}
