<section class="vertical-demo">
  <h1>Dual Scroll</h1>

  <div class="output">
    {{!-- BEGIN-SNIPPET vertical --}}
    <div class="double-scroll-container">
      {{#ember-scrollable double=true onScrolledToBottom=(action 'log' 'Bottom reached!')}}
        <div class="wide-content">
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
          <p>Some content</p>
          <p>Some more content</p>
        </div>
      {{/ember-scrollable}}
    </div>
    {{!-- END-SNIPPET --}}
  </div>

  <div class="code">
    {{code-snippet name="vertical.hbs"}}
  </div>
</section>
