<section class="vertical-demo">
  <h1>Vertical</h1>

  <div class="output">
    {{!-- BEGIN-SNIPPET vertical --}}
    {{#as-scrollable onScrolledToBottom=(action 'log' 'Bottom reached!')}}
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
    {{/as-scrollable}}
    {{!-- END-SNIPPET --}}
  </div>

  <div class="code">
    {{code-snippet name="vertical.hbs"}}
  </div>
</section>

<section class="horizontal-demo">
  <h1>Horizontal</h1>

  <div class="output">
    {{!-- BEGIN-SNIPPET horizontal --}}
    {{#as-scrollable horizontal=true}}
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
      </ul>
    {{/as-scrollable}}
    {{!-- END-SNIPPET --}}
  </div>

  <div class="code">
    {{code-snippet name="horizontal.hbs"}}
  </div>
</section>

<section class="no-auto-hide-demo">
  <h1>No Auto Hide</h1>

  <div class="output">
    {{!-- BEGIN-SNIPPET no-auto-hide --}}
    {{#as-scrollable autoHide=false}}
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
      <p>Some content</p>
      <p>Some more content</p>
    {{/as-scrollable}}
    {{!-- END-SNIPPET --}}
  </div>

  <div class="code">
    {{code-snippet name="no-auto-hide.hbs"}}
  </div>
</section>

<section class="no-scrollbar-demo">
  <h1>No Scroll</h1>

  <div class="output">
    {{!-- BEGIN-SNIPPET no-scrollbar-demo --}}
    {{#as-scrollable}}
      <p>Some content</p>
    {{/as-scrollable}}
    {{!-- END-SNIPPET --}}
  </div>

  <div class="code">
    {{code-snippet name="no-scrollbar-demo.hbs"}}
  </div>
</section>
