{{#top-level}}
  {{#liquid-if isSearching use="crossFade" class="search-results"}}
    <div class="overlay"></div>

    <div class="content">
      <section>
        <h1>Colleagues</h1>

        <ul>
          <li><article>Imba colleague 1</article></li>
          <li><article>Imba colleague 2</article></li>
        </ul>
      </section>

      <section>
        <h1>Advisors</h1>

        <ul>
          <li><article>Pro advisor 1</article></li>
          <li><article>Pro advisor 2</article></li>
        </ul>
      </section>
    </div>
  {{/liquid-if}}

  <ul id="add" class="add" data-dropdown-content>
    <li><a href="#">New advisor</a></li>
    <li><a href="#">New project</a></li>
  </ul>

  <ul id="apps" class="apps" data-dropdown-content>
    <li><a href="#">Metrics</a></li>
    <li><a href="#">Finance</a></li>
    <li><a href="#">Clients</a></li>
  </ul>
{{/top-level}}

<header>
  <div class="main">
    <img src="assets/images/logo.png" alt="Phoenix"></img>
    <h1>Phoenix</h1>
  </div>

  <div {{bind-attr class=":actions isSearching:searching"}}>
    <div>
      <div class="search">
        <i></i>

        {{input type="text" placeholder="Search for advisors, clients and projects..."}}
      </div>

      <div class="toggles">
        {{#liquid-unless isSearching}}
          <button class="change-app" title="Change App" data-dropdown="apps"></button>
          <button class="add" title="Add" data-dropdown="add"></button>
        {{/liquid-unless}}
      </div>
    </div>
  </div>
</header>
