<section class="application">
  <ul id="add" data-dropdown-content>
    <li><a href="#">New advisor</a></li>
    <li><a href="#">New project</a></li>
  </ul>

  <ul id="apps" data-dropdown-content>
    <li><a href="#">Metrics</a></li>
    <li><a href="#">Finance</a></li>
    <li><a href="#">Clients</a></li>
  </ul>

  <ul id="session-actions" data-dropdown-content>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Logout</a></li>
  </ul>

  <header>
    <div class="main">
      <img src="assets/images/logo.png" alt="Phoenix"></img>
      <h1>Phoenix</h1>
    </div>

    <div class="actions">
      <div>
        <div {{bind-attr class=":search isSearching:active"}}>
          <i></i>

          {{input
            type="text"
            placeholder="Search for advisors, clients and projects..."
            focus-in="toggleSearch"
            focus-out="toggleSearch"
          }}
        </div>

        <div class="toggles">
          <button class="change-app" title="Change App" data-dropdown="apps"></button>
          <button class="add" title="Add" data-dropdown="add"></button>
        </div>
      </div>
    </div>
  </header>

  <nav>
    <div>
      <h1>Menu</h1>

      <ul>
        <li class="dashboard"><a href="/dashboard"><i></i>Dashboard</a></li>
        <li class="projects"><a href="/projects"><i></i>Projects</a></li>
        <li class="team"><a href="/team"><i></i>Team</a></li>
        <li class="performances"><a href="/performances"><i></i>Performances</a></li>
      </ul>

      <section class="session">
        <img
          class="picture"
          src="https://dzaqm99ko40cm.cloudfront.net/assets/avatars/default_medium_square-3d72ccbb7acff822d65372d383b37c86.png"
          title="EDe"
          alt="Profile Picture"
        />

        <div class="name">Eugenio Depalo</div>

        <div class="toggle-actions">
          <button title="Actions" data-dropdown="session-actions"></button>
        </div>
      </section>
    </div>
  </nav>

  <main>
    <section class="dashboard">
      <h1>Dashboard</h1>

      {{outlet}}
    </section>
  </main>
</section>
