<section class="error">
  <h1>Sorry, something went wrong. Please try refreshing the page.</h1>
  <h2>If the error persists, please contact support. To do so, click on the Settings icon in the bottom left of the screen, and then click the help link.</h2>
</section>
