{{as-sidebar
  applicationName="Phoenix"
  currentUser=currentUser.model
  navigationItems=navigationItems
  actionItems=actionItems
  actionsTarget=this
  isCollapsed=preferences.sidebarCollapsed
  toggleCollapse="savePreferences"
  advisorSearchUrl=advisorSearchUrl}}

<main>
  {{as-quick-jump}}

  {{#as-scrollable class="content"}}
    {{outlet}}
  {{/as-scrollable}}

  {{outlet "side-panel"}}
</main>
