{{as-sidebar
  applicationName="Phoenix"
  currentUser=currentUser.model
  navigationItems=navigationItems
  actionItems=actionItems
  actionsTarget=this
  isCollapsed=preferences.sidebarCollapsed
  toggleCollapse="savePreferences"}}

<main>
  {{render "quick-jump" this tagName="section"}}

  {{#as-scrollable class="content"}}
    {{outlet}}
  {{/as-scrollable}}

  {{outlet "side-panel"}}
</main>
