<div class="container">
  <nav>
    <h2>Sidebar</h2>
  </nav>
  <div class="actions">
    <h4>actions</h4>
  <div>
  <main>
    <h2 id='title'>Welcome to Ember.js</h2>
    <h3>Test</h3>

    {{outlet}}
   </main>
</div>
