{{as-sidebar
  applicationName="Phoenix"
  currentUser=currentUser.model
  navigationItems=navigationItems
  isCollapsed=preferences.sidebarCollapsed
  toggleCollapse="savePreferences"
  logout="logout"}}

<main>
  {{render "quick-jump" this tagName="section"}}

  {{#as-scrollable class="content"}}
    {{outlet}}
  {{/as-scrollable}}
</main>

{{outlet "side-panel"}}
