{{as-sidebar
  applicationName="Phoenix"
  currentUser=currentUser
  navigationItems=navigationItems
  isCollapsed=userPreferences.sidebarCollapsed
  toggleCollapse="saveUserPreferences"
  logout="logout"}}

<main>
  {{render "quick-jump" this tagName="section"}}

  {{#as-scrollable class="content"}}
    {{outlet}}
  {{/as-scrollable}}

  {{outlet "side-panel"}}
</main>
