<header>
  <div class="select">
    {{view "select"
      content=teams
      optionLabelPath="content.name"
      prompt=currentUser.name
      selection=selectedTeam}}
  </div>
</header>

<ul class="widgets">
  <li class="performance">
    {{as-widget/performance performance=model.deliveryPerformance}}
  </li>

  <li class="upcoming-interactions">
    {{render "dashboard.widgets.upcoming-interactions"
      upcomingInteractions
      tagName="section"}}
  </li>

  <li class="interactions-to-schedule">
    {{render "dashboard.widgets.interactions-to-schedule"
      interactionsToSchedule
      tagName="section"}}
  </li>
</ul>
