<header>
  <div class="select">
    {{view "select"
      content=teams
      optionLabelPath="content.name"
      prompt=currentUser.name
      selection=selectedTeam}}
  </div>
</header>

<ul class="widgets">
  <li class="performance">
    {{as-widget/performance performance=model.deliveryPerformance}}
  </li>

  <li class="upcoming-interactions">
    {{as-widget/upcoming-interactions
      interactions=upcomingInteractions
      isTeamView=isTeamView
      teamMembers=teamMembers}}
  </li>

  <li class="interactions-to-schedule">
    {{as-widget/interactions-to-schedule
      interactions=interactionsToSchedule
      isTeamView=isTeamView
      teamMembers=teamMembers}}
  </li>
</ul>
