<header>
  <h1>Dashboard</h1>
  {{render "dashboard.performance" deliveryPerformance}}
</header>

<ul class="widgets">
  <li>
    {{render "dashboard.widgets.upcoming-interactions"
      upcomingInteractions
      tagName="section"}}
  </li>
</ul>
