<h1>Labs</h1>

<ul>
  {{#each sortedFeatures as |feature|}}
    {{as-lab
      feature=feature
      currentUser=currentUser
      leave="destroyParticipation"
      join="createParticipation"}}
  {{/each}}
</ul>
