<div>
  <p><i class="icon-projects"></i></p>
  <p><span>Your dashboard will show up here soon</span></p>
  <p>While we're working to build this section, you can still access projects on the old system.</p>

  <p><button>View Projects in the old system</button></p>
</div>