<header>
  <div class="sort-by-label">
    <label for="sort-by">Sort by:</label>
  </div>

  <div class="sort-by-select">
    {{view "select"
      id="sort-by"
      content=availableSortProperties
      optionValuePath="content.id"
      optionLabelPath="content.name"
      value=sortPropertyId}}
  </div>
</header>

{{#each itemController="project"}}
  {{render "project" this tagName="article"}}
{{/each}}
