<header>
  <img src="assets/images/logo.png" alt="Phoenix"></img>
  <h1>Phoenix</h1>
</header>

{{#as-scrollable tagName="nav"}}
  <header>
    <div class="toggle-collapse">
      <button {{action "toggleCollapse" target=view}}></button>
    </div>

    <h1>Menu</h1>
  </header>

  <ul>
    <li class="dashboard">
      {{#link-to "dashboard"}}<i></i><span>Dashboard</span>{{/link-to}}
    </li>

    <li class="projects">
      {{#link-to "projects"}}<i></i><span>Projects</span>{{/link-to}}
    </li>

    <li class="team">
      {{#link-to "teams"}}<i></i><span>Teams</span>{{/link-to}}
    </li>

    <li class="performance">
      {{#link-to "performance"}}<i></i><span>Performance</span>{{/link-to}}
    </li>
  </ul>
{{/as-scrollable}}

<section class="user-session">
  <div class="toggle-actions">
    {{#rl-dropdown-container class="dropdown"}}
      {{#rl-dropdown-toggle class="actions"}}{{/rl-dropdown-toggle}}

      {{#rl-dropdown tagName="ul" class="dropdown-menu top" closeOnChildClick="a:link"}}
        <li><a {{action "logout"}}>Logout</a></li>
      {{/rl-dropdown}}
    {{/rl-dropdown-container}}
  </div>

  <img
    class="picture"
    alt="Profile Picture"
    {{bind-attr src=currentUser.avatarUrl title=currentUser.initials}} />

  <div class="name">{{currentUser.name}}</div>
</section>
