<div>
  <div class="actions">
    <div class="content">
      {{outlet "actions"}}
    </div>

    <div class="close">
      <button {{action "close" target=view}}></button>
    </div>
  </div>

  {{yield}}
</div>
