<ul>
  <li class="upcoming">
    <div class="count">{{upcoming}}</div>
    <div class="name">Upcoming</div>
  </li>

  <li class="left-to-schedule">
    <div class="count">{{leftToSchedule}}</div>
    <div class="name">Left To Schedule</div>
  </li>

  <li class="delivered">
    <div class="count">{{delivered}}</div>
    <div class="name">Delivered</div>
  </li>
</ul>
