<header>
  <h1>
    {{selectedTeam.name}}

    <button class="change" title="Change Team" data-dropdown="teams" data-options="align: right"></button>

    <ul id="teams" data-dropdown-content>
      {{#each}}
        <li><a href>{{name}}</a></li>
      {{/each}}
    </ul>
  </h1>

  {{render "stats" this tagName="section" className="stats"}}
</header>

<section class="selected-team">
  {{outlet}}
</section>
