<header>
  <h1>{{selectedTeam.name}}</h1>

  {{render "stats" this tagName="section" classNames="stats"}}
</header>

<ul>
  {{#each teams}}
    <li>{{name}}</li>
  {{/each}}
</ul>

<section class="selected-team">
  {{outlet}}
</section>
