<header>
  <div class="beta-alert">
    You're trying out the new Whiteboard.
    You can <a {{bind-attr href=pistachioUrl}}>go back to the old one</a> or <a {{action "submitFeedback"}}>submit feedback</a>.
  </div>

  <h1>{{name}}</h1>
</header>

{{render "team.projects" tagName="section"}}
