<header>
  <h1>{{selectedTeam.name}}</h1>

  <div class="change">
    <button
      title="Change Team"
      data-dropdown="teams"
      data-options="align: right"></button>
  </div>

  {{render "stats" this tagName="section" className="stats"}}
</header>

<div id="teams" class="list" data-dropdown-content>
  <ul>
    {{#each}}
      <li><a href>{{name}}</a></li>
    {{/each}}
  </ul>
</div>

<section class="selected-team">
  {{outlet}}
</section>
