{{#if selectedTeam}}
  <header>
    {{#as-dropdown title="Change Team" class="change"}}
      {{#each}}
        {{#as-dropdown-item}}
          {{#link-to "team" id}}{{name}}{{/link-to}}
        {{/as-dropdown-item}}
      {{/each}}
    {{/as-dropdown}}

    <h1>{{selectedTeam.name}}</h1>
  </header>
{{/if}}

<section class="selected-team">
  {{liquid-outlet containerless=true use="crossFade"}}
</section>
